<section class="slice color4" id="news">
  <div class="container imgHover">
    <div class="row">

      <div class="span12"><h1>Latest news</h1></div>
      <article class="span4">
        <section class="imgWrapper"> 
          <img src="/assets/news/news1.jpg" alt="alteae template image news" /> 
        </section>
        <div class="media-hover">
          <div class="mask"></div>
          <div class="iconLinks"> 
            <a href="blog-post.html" title="link" target="_blank" class="iconWrapper">
              <i class="icon-link"></i>
            </a> 
            <a href="/assets/news/news1.jpg" class="prettyPhoto iconWrapper" title="Zoom" >
              <i class="icon-search"></i>
            </a> 
          </div>
        </div>
        <div class="media-list newsList">
          <div class="media">
            <section class="newsDate">
              <h4>12</h4>
              <span>Oct.</span> </section>
              <section class="media-body">
                <h3>I feel good</h3>
                <p>Nullam sed tortor odio. Suspendisse tincidunt dictum nisi, nec convallis odio. </p>
                <a href="blog-post.html" class="btn btn-small btn-inverse"><i class="icon-right-open-mini"></i>read more</a> 
              </section>
          </div>
        </div>
      </article>

          
      <article class="span4">
        <section class="imgWrapper"> 
          <img src="/assets/news/news2.jpg" alt="snowflake template image news" /> 
        </section>
        <div class="media-hover">
          <div class="mask"></div>
          <div class="iconLinks"> 
            <a href="blog-post.html" title="link" target="_blank" class="iconWrapper">
              <i class="icon-link"></i>
            </a> 
            <a href="/assets/news/news2.jpg" class="prettyPhoto iconWrapper" title="Zoom" >
              <i class="icon-search"></i>
            </a> 
          </div>
        </div>
        <div class="media-list newsList">
          <div class="media">
            <section class="newsDate">
              <h4>25</h4>
              <span>Nov.</span> 
            </section>
            <section class="media-body">
              <h3>I updated my facebook status</h3>
              <p>Nullam sed tortor odio. Suspendisse tincidunt dictum nisi, nec convallis odio. </p>
              <a href="blog-post.html" class="btn btn-small btn-inverse"><i class="icon-right-open-mini"></i>read more</a> 
            </section>
          </div>
        </div>
      </article>

      <article class="span4">
        <section class="imgWrapper"> 
          <img src="/assets/news/news3.jpg" alt="snowflake template image news" /> 
        </section>
        <div class="media-hover">
          <div class="mask"></div>
          <div class="iconLinks"> <a href="blog-post.html" title="link" target="_blank" class="iconWrapper"><i class="icon-link"></i></a> <a href="/assets/news/news3.jpg" class="prettyPhoto iconWrapper" title="Zoom" ><i class="icon-search"></i></a> </div>
        </div>
        <div class="media-list newsList">
          <div class="media">
            <section class="newsDate">
              <h4>02</h4>
              <span>Dec.</span> 
            </section>
            <section class="media-body">
              <h3>I just got the new iPhone</h3>
              <p>Nullam sed tortor odio. Suspendisse tincidunt dictum nisi, nec convallis odio. </p>
              <a href="blog-post.html" class="btn btn-small btn-inverse"><i class="icon-right-open-mini"></i>read more</a> 
            </section>
          </div>
        </div>
      </article>

    </div>
  </div>
</section>
