<section class="slice" id="services">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Our services</h1>
      </div>
      <div class="span3">
        <article class="boxIcon">
          <div class="iconWrapper iconBig"> <i class="icon-heart"></i></div>
          <section class="boxContent">
            <h2>Clean design</h2>
            <p>Elegant layouts that help you organize your content in the best way.</p>
          </section>
        </article>
      </div>
      <div class="span3">
        <article class="boxIcon">
          <div class="iconWrapper iconBig"> <i class="icon-star-empty"></i></div>
          <section class="boxContent">
            <h2>HTML5 &amp; CSS3</h2>
            <p>Built with modern technologies like HTML5 and CSS3, SEO optimised.</p>
          </section>
        </article>
      </div>
      <div class="span3">
        <article class="boxIcon">
          <div class="iconWrapper iconBig"> <i class="icon-cog"></i></div>
          <section class="boxContent">
            <h2>Easy Customization</h2>
            <p>Clear code and documentation, build your website in no time!</p>
          </section>
        </article>
      </div>
      <div class="span3">
        <article class="boxIcon">
          <div class="iconWrapper iconBig"> <i class="icon-mobile-1"></i></div>
          <section class="boxContent">
            <h2>Responsive design</h2>
            <p>Compatible with various desktop, tablet, and mobile devices.</p>
          </section>
        </article>
      </div>
      
    </div>
  </div>
</section>
