<section class="slice color1" id="team">
                            <div class="container">
                              <div class="row">
                                <div class="span12">
                                  <h1>Meet our team</h1>
                                </div>
                                <div class="span3">
                                  <article class="boxWrapper color1">
                                    <div><img src="/assets/team/pic1.jpg" alt=""></div>
                                    <div class="boxContent2">
                                      <h3>Janet DOE </h3>
                                      <p>Executive Director</p>
                                    </div>
                                    <div class="boxContent"> <a href="mailto:your.email@little-neko.com">j.doe@altea.com</a>
                                      <ul class="socialNetwork">
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="icon-twitter-bird"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Google+"><i class="icon-gplus"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Pinterest"><i class="icon-pinterest-circled"></i></a></li>
                                      </ul>
                                    </div>
                                  </article>
                                </div>
                                <div class="span3">
                                  <article class="boxWrapper color1">
                                    <div><img src="/assets/team/pic2.jpg" alt=""></div>
                                    <div class="boxContent2">
                                      <h3>Johanna Newsom</h3>
                                      <p>Salesman</p>
                                    </div>
                                    <div class="boxContent"> <a href="mailto:your.email@little-neko.com">j.newsom@altea.com</a>
                                      <ul class="socialNetwork">
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="icon-twitter-bird"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Google+"><i class="icon-gplus"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Pinterest"><i class="icon-pinterest-circled"></i></a></li>
                                      </ul>
                                    </div>
                                  </article>
                                </div>
                                <div class="span3">
                                  <article class="boxWrapper color1">
                                    <div><img src="/assets/team/pic3.jpg" alt=""></div>
                                    <div class="boxContent2">
                                      <h3>Alexander Doe</h3>
                                      <p>Graphic designer</p>
                                    </div>
                                    <div class="boxContent"> <a href="mailto:your.email@little-neko.com">a.doe@altea.com</a>
                                      <ul class="socialNetwork">
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="icon-twitter-bird"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Google+"><i class="icon-gplus"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Pinterest"><i class="icon-pinterest-circled"></i></a></li>
                                      </ul>
                                    </div>
                                  </article>
                                </div>
                                <div class="span3">
                                  <article class="boxWrapper color1">
                                    <div><img src="/assets/team/pic4.jpg" alt=""></div>
                                    <div class="boxContent2">
                                      <h3>Pamela Anderson</h3>
                                      <p>Programmer</p>
                                    </div>
                                    <div class="boxContent"> <a href="mailto:your.email@little-neko.com">p.anderson66@altea.com</a>
                                      <ul class="socialNetwork">
                                        <li>
                                          <a href="#" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook"></i></a>
                                        </li>
                                        <li>
                                          <a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="icon-twitter-bird"></i></a>
                                        </li>
                                        <li>
                                          <a href="#" class="tips" title="" data-original-title="follow me on Google+"><i class="icon-gplus"></i></a>
                                        </li>
                                        <li>
                                          <a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin"></i>
                                          </a>
                                        </li>
                                        <li>
                                          <a href="#" class="tips" title="" data-original-title="follow me on Pinterest"><i class="icon-pinterest-circled"></i>
                                          </a>
                                        </li>
                                      </ul>
                                    </div>
                                  </article>
                                </div>
                              </div>
                            </div>
                          </section>