<div id="quotes">
  <div id="quote_wrap">
    <div class="textItem1" style="display: block;">
      <div class="cbp-qtcontent cbp-qtcurrent" style="transition: opacity 700ms ease; -webkit-transition: opacity 700ms ease;">
        <img src="/assets/t5.jpg" alt="">
        <blockquote>
          <p class="bigquote">
            <i class="icon-quote-left colortext quoteicon"></i> 
            I just had the Appsolution pleasure of working with Appsolutiononline on my website design project. I have been so protective of my business and its image and took a long time to look for the right fit in a website development company. The site needed to reflect who I am and how I treat my clients, and it needed to embrace the fun, creative, laid-back but business mode that we operate in. It was hard for me to let this go to a designer to translate.
          </p>
          <footer>Ophellia McKnight, CEO Technix world</footer>
        </blockquote>
      </div>
    </div>
    <div class="textItem1" style="display: none;">
      <div class="cbp-qtcontent cbp-qtcurrent" style="transition: opacity 700ms ease; -webkit-transition: opacity 700ms ease;">
        <img src="/assets/t4.jpg" alt="">
        <blockquote>
          <p class="bigquote">
            <i class="icon-quote-left colortext quoteicon"></i> 
            I just had the Appsolutiononline pleasure of working with Appsolutiononline on my website design project. I have been so protective of my business and its image and took a long time to look for the right fit in a website development company. The site needed to reflect who I am and how I treat my clients, and it needed to embrace the fun, creative, laid-back but business mode that we operate in. It was hard for me to let this go to a designer to translate.
          </p>
          <footer>Ophellia McKnight, CEO Technix world</footer>
        </blockquote>
      </div>
    </div>
    <div class="textItem1" style="display: none;">
      <div class="cbp-qtcontent cbp-qtcurrent" style="transition: opacity 700ms ease; -webkit-transition: opacity 700ms ease;">
        <img src="/assets/t3.jpg" alt="">
        <blockquote>
          <p class="bigquote">
            <i class="icon-quote-left colortext quoteicon"></i> 
            Appsolutiononline exceeded every one of my expectations, by a long way! Finding a true service partner to take our idea to reality was a major concern, so teaming up with a company like Spudd Mobile was a true blessing. I was really pleased with their responsiveness and willingness to go the extra mile to achieve the goals set out.I am extremely happy with Appsolutiononline and would refer them to others with appsolutiononline confidence.
          </p>
          <footer>Ryan Lacey, CEO TRC Group</footer>
        </blockquote>
      </div>
    </div>
    <div class="textItem1" style="display: none;">
      <div class="cbp-qtcontent cbp-qtcurrent" style="transition: opacity 700ms ease; -webkit-transition: opacity 700ms ease;">
        <img src="/assets/t2.jpg" alt="">
        <blockquote>
          <p class="bigquote">
            <i class="icon-quote-left colortext quoteicon"></i> 
            We engaged Appsolutiononline on a number of strategic projects. They brought exceptional technical acumen and professionalism in building and deploying complex CRM solutions. My team and I thoroughly enjoyed working with Appsolutiononline and found them always willing to go the extra mile. I trust them implicitly and would engage them again for future projects.

          </p>
          <footer>Penny Christian, BTC entertainment</footer>
        </blockquote>
      </div>
    </div>
    <div class="textItem1" style="display: none;">
      <div class="cbp-qtcontent cbp-qtcurrent" style="transition: opacity 700ms ease; -webkit-transition: opacity 700ms ease;">
        <img src="/assets/t1.jpg" alt="">
        <blockquote>
          <p class="bigquote">
            <i class="icon-quote-left colortext quoteicon"></i> 
            I really do appreciate all your efforts and hard work to be responsive, flexible, creative and overall to make this a killer app. You've handled everything (including me) very gracefully. I appreciate it, and I'm here now because I've never had anything but great confidence that Appsolutiononline will deliver a fantastic end product and that says a lot.
          </p>
          <footer>Stephanie Lynn,Manager HTPC world</footer>
        </blockquote>
      </div>
    </div>
    <div class="textItem1" style="display: none;">
      <div class="cbp-qtcontent cbp-qtcurrent" style="transition: opacity 700ms ease; -webkit-transition: opacity 700ms ease;">
        <img src="/assets/t6.jpg" alt="">
        <blockquote>
          <p class="bigquote">
            <i class="icon-quote-left colortext quoteicon"></i> 
            Appsolutiononline has provided us with a very cost-effective and very hands-on monitoring solution. We're thrilled with the results that we've realized thus far from themMonitoring. Our subscribers benefit from network performance that we can prove is effective.
          </p>
          <footer>Michael,Director Trinx</footer>
        </blockquote>
      </div>
    </div>

  </div>
</div>
