<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig notransition">About Us</h1>
		<p class="animated fadeInRightBig  notransition container page-description">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
		 	sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
	</div>
</section>


<div class="wrapsemibox">
	<div class="semiboxshadow text-center">
		<img src="/assets/shp.png" class="img-responsive" alt="">
	</div>

	<section class="container">
		<div class="row">
			<div class="col-md-12 animated anim-slide notransition">
				<p class="animated fadeInRightBig  notransition container page-description2">  
					We currently develop applications for Android, iPhone and iPad, Blackberry and Windows Phone platforms including both smartphones and tablets. The company has grown to well over thirty members all working out of our office in India. 
				</p>	
				<p class="animated fadeInRightBig  notransition container page-description2">  
					Unlike many other firms, we value long-term relationships with our customers. We realize the work doesn’t end even though a project has been launched. The mobile application marketplace is ever changing, so we’re always ready to help our customers adapt and take the lead. 
				</p>
				<p class="animated fadeInRightBig  notransition container page-description2">  
					Using Agile Methodology and a holistic approach, we develop mobile applications with a high level of customer involvement and a turnaround time measured in weeks rather than months. We actually think of ourselves as a development shop with a strong process that we wrapped a business around. In addition to our solid process and expert development skills, we also provide our customers with expert design, usability and marketing strategy. 
				</p>
				<p class="animated fadeInRightBig  notransition container page-description2">  
					Perfect understanding of the mobile technology, well-complimented by rich experience across all the major enterprise verticals and the capability to deliver end-to-end business solutions, makes Apsolute the mobile  consultant of choice across industries.  
				</p>
			</div>
		</div>
	</section>
</div>