	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig notransition">Blog Home</h1>
		<p class="animated fadeInRightBig  notransition container wowbreadcr">
			 Home / Blog / Homepage
		</p>
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="/assets/shp.png" class="img-responsive" alt="">
		</div>
		<!-- BLOG
================================================== -->
		<section class="container animated fadeInDown notransition">
		<div class="row blogindex">
			<!-- MAIN -->	
			<div class="col-md-9">
				<div class="text-center">
					<h2>Merry Christmas</h2>
					<span class="meta bottomspace30">By <a href="http://www.wowthemes.net/demo/calypso/blogindex.html#" title="Posts by Roy Sanders" rel="author">Roy Sanders</a><span class="bullet">•</span> November 5, 2013 <span class="bullet">•</span><a href="http://www.wowthemes.net/demo/calypso/blogindex.html#" title="View all posts in Food &amp; Health" rel="category tag">Food &amp; Health</a></span>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="lead">
							<img src="/assets/desktop3.png" class="pull-left img-responsive" alt="" style="max-width:180px;">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut pulvinar lectus.
						</p>
						<a href="http://www.wowthemes.net/demo/calypso/blogindex.html#" class="btn btn-default">Read more</a>
						<hr class="clearfix">
						<div class="text-center">
							<h2>Finding Treasures</h2>
							<span class="meta bottomspace30">By <a href="http://www.wowthemes.net/demo/calypso/blogindex.html#" title="Posts by Roy Sanders" rel="author">Roy Sanders</a> <span class="bullet">•</span> November 5, 2013 <span class="bullet">•</span> <a href="http://www.wowthemes.net/demo/calypso/blogindex.html#" title="View all posts in Food &amp; Health" rel="category tag">Food &amp; Health</a></span>
						</div>
						<p class="lead">
							<img src="/assets/desktop2.png" class="pull-left img-responsive" alt="" style="max-width:180px;">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut pulvinar lectus.
						</p>
						<a href="http://www.wowthemes.net/demo/calypso/blogindex.html#" class="btn btn-default">Read more</a>
						<hr class="clearfix">
						<div class="text-center">
							<h2>Once Upon a Time</h2>
							<span class="meta bottomspace30">By <a href="http://www.wowthemes.net/demo/calypso/blogindex.html#" title="Posts by Roy Sanders" rel="author">Roy Sanders</a><span class="bullet">•</span> November 5, 2013 <span class="bullet">•</span><a href="http://www.wowthemes.net/demo/calypso/blogindex.html#" title="View all posts in Food &amp; Health" rel="category tag">Food &amp; Health</a></span>
						</div>
						<p class="lead">
							<img src="/assets/slide1-1.png" class="pull-left img-responsive" alt="" style="max-width:180px;">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut pulvinar lectus.
						</p>
						<a href="http://www.wowthemes.net/demo/calypso/blogindex.html#" class="btn btn-default">Read more</a>
						<hr class="clearfix">
						<ul class="pagination pagination-lg">
							<li class="disabled"><a href="http://www.wowthemes.net/demo/calypso/blogindex.html#">«</a></li>
							<li class="active"><a href="http://www.wowthemes.net/demo/calypso/blogindex.html#">1 <span class="sr-only">(current)</span></a></li>
							<li><a href="http://www.wowthemes.net/demo/calypso/blogindex.html#">2</a></li>
							<li><a href="http://www.wowthemes.net/demo/calypso/blogindex.html#">3</a></li>
							<li><a href="http://www.wowthemes.net/demo/calypso/blogindex.html#">4</a></li>
							<li><a href="http://www.wowthemes.net/demo/calypso/blogindex.html#">5</a></li>
							<li><a href="http://www.wowthemes.net/demo/calypso/blogindex.html#">»</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- SIDEBAR -->	
			<div class="col-md-3">
				<aside class="sidebar topspace30">
				<div class="wowwidget">
					<h4>Categories</h4>
					<ul class="categories">
						<li><a href="http://www.wowthemes.net/demo/calypso/blogindex.html#">Music &amp; Films</a></li>
						<li><a href="http://www.wowthemes.net/demo/calypso/blogindex.html#">Home Decoration</a></li>
						<li><a href="http://www.wowthemes.net/demo/calypso/blogindex.html#">Food &amp; Health</a></li>
						<li><a href="http://www.wowthemes.net/demo/calypso/blogindex.html#">Lifestyle Green</a></li>
						<li><a href="http://www.wowthemes.net/demo/calypso/blogindex.html#">Future Technology</a></li>
					</ul>
				</div>
				<div class="wowwidget">
					<div class="tabs">
						<ul class="nav nav-tabs">
							<li class="active"><a href="http://www.wowthemes.net/demo/calypso/blogindex.html#popularPosts" data-toggle="tab"><i class="icon icon-star"></i> Popular</a></li>
							<li><a href="http://www.wowthemes.net/demo/calypso/blogindex.html#recentPosts" data-toggle="tab">Recent</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="popularPosts">
								<ul class="unstyled">
									<li>
									<div class="tabbedwidget">
										<a href="http://www.wowthemes.net/demo/calypso/blog-single.html">
										<img src="/assets/showcase1.jpg" alt="">
										</a>
									</div>
									<div class="post-info">
										<a href="http://www.wowthemes.net/demo/calypso/blog-single.html">Finding Treasures</a>
										<div class="post-meta">
											 Dec 12, 2013
										</div>										
									</div>
									</li>
									<li>
									<div class="tabbedwidget">
										<a href="http://www.wowthemes.net/demo/calypso/blog-single.html">
										<img src="/assets/showcase2.jpg" alt="">
										</a>
									</div>
									<div class="post-info">
										<a href="http://www.wowthemes.net/demo/calypso/blog-single.html">Once Upon a Time</a>
										<div class="post-meta">
											 Jan 16, 2014
										</div>
									</div>
									</li>
									<li>
									<div class="tabbedwidget">
										<a href="http://www.wowthemes.net/demo/calypso/blog-single.html">
										<img src="/assets/showcase3.jpg" alt="">
										</a>
									</div>
									<div class="post-info">
										<a href="http://www.wowthemes.net/demo/calypso/blog-single.html">Midnight in Paris</a>
										<div class="post-meta">
											 Sep 28, 2014
										</div>
									</div>
									</li>
								</ul>
							</div>
							<div class="tab-pane" id="recentPosts">
								<ul class="unstyled">
									<li>
									<div class="tabbedwidget">
										<a href="http://www.wowthemes.net/demo/calypso/blog-single.html">
										<img src="/assets/showcase4.jpg" alt="">
										</a>
									</div>
									<div class="post-info">
										<a href="http://www.wowthemes.net/demo/calypso/blog-single.html">From Rome with Love</a>
										<div class="post-meta">
											 Jan 10, 2014
										</div>
									</div>
									</li>
									<li>
									<div class="tabbedwidget">
										<a href="http://www.wowthemes.net/demo/calypso/blog-single.html">
										<img src="/assets/showcase3.jpg" alt="">
										</a>
									</div>
									<div class="post-info">
										<a href="http://www.wowthemes.net/demo/calypso/blog-single.html">Midnight in Paris</a>
										<div class="post-meta">
											 Feb 13, 2014
										</div>
									</div>
									</li>
									<li>
									<div class="tabbedwidget">
										<a href="http://www.wowthemes.net/demo/calypso/blog-single.html">
										<img src="/assets/showcase2.jpg" alt="">
										</a>
									</div>
									<div class="post-info">
										<a href="http://www.wowthemes.net/demo/calypso/blog-single.html">City Lights</a>
										<div class="post-meta">
											 Aug 25, 2014
										</div>
									</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="widget">
					<h4>About Us</h4>
					<p>
						Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. Nulla nunc dui, tristique in semper vel. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero.
					</p>
				</div>
				</aside>
			</div><!-- end sidebar -->	
		</div>
		</section>


	</div>