<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig notransition">Careers</h1>
		<p class="animated fadeInRightBig notransition container page-description"></p>
	</div>
</section>

	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="/assets/shp.png" class="img-responsive" alt="">
		</div>
		
		<section class="container">
			<div class="row">
				<div class="col-md-8 animated fadeInLeft notransition">
     			<h3> Current Openings </h3>
      		<span class="cbp-qtprogress" style="transition: width 8000ms linear; -webkit-transition: width 8000ms linear; width: 100%;"></span>
			</div>
			<div class="col-md-8 animated fadeInLeft notransition">
				<h4 style="font-size: 15px;"> (1) &nbsp; Jr. Business Development Manager </h4>
				<table>
					<tr>
						<td>Experience :</td>
						<td>0-1 Year</td>
					</tr>
					
					<tr>
						<td>Involvement : &nbsp;</td>
						<td>Full Time</td>
					</tr>

					<tr>
						<td>Location: </td>
						<td>Ahmedabad, Gujarat</td>
					</tr>

					<tr>
						<td>Package :</td>
						<td>Package will be ever best as per industry standards.</td>
					</tr>					
				</table>
				<br>
				<h4 style="font-size: 15px;"> (2) &nbsp; Fresher Designer </h4>
				<table>
					<tr>
						<td>Experience :</td>
						<td>0-1 Year</td>
					</tr>
					
					<tr>
						<td>Involvement : &nbsp;</td>
						<td>Full Time</td>
					</tr>

					<tr>
						<td>Location : </td>
						<td>Ahmedabad, Gujarat</td>
					</tr>

					<tr>
						<td>Package :</td>
						<td>Package will be ever best as per industry standards.</td>
					</tr>					

					<tr>
						<td>Skills :</td>
						<td>Storng knowledge of Photoshop, CSS 3.0, HTML, HTML5, XHTML, JavaScript and Dreamweaver.</td>
					</tr>					

				</table>
<br>
<h4> Send your resume on apsolutetechnology@gmail.com </h4>

			</div>
		</div>
		</section>
	</div>