<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig notransition">Contact</h1>
		<p class="animated fadeInRightBig notransition container page-description">
			 Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
			 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="/assets/shp.png" class="img-responsive" alt="">
		</div>
		<!-- CONTACT
================================================== -->
		
		<section class="container">
		<div class="row">
			<div class="col-md-8 animated fadeInLeft notransition">
				<h1 class="smalltitle">
				<span>Get in Touch</span>
				</h1>
				<form action="http://www.wowthemes.net/demo/calypso/contact.html#" name="MYFORM" id="MYFORM">
					<input name="name" size="30" type="text" id="name" class="col-md-6 leftradius" placeholder="Your Name">
					<input name="email" size="30" type="text" id="email" class="col-md-6 rightradius" placeholder="E-mail Address">
					<textarea id="message" name="message" class="col-md-12 allradius" placeholder="Message" rows="9"></textarea>
					
					<br><input name="code" type="text" id="code" placeholder="Enter Captcha" class="top10">
					<br>
					<input value="Send" type="submit" id="Send" class="btn btn-default btn-md">
				</form>
			</div>
			<div class="col-md-4 animated fadeInRight notransition">
				<h1 class="smalltitle">
				<span>Contacts</span>
				</h1>
				<p>
					 If you're not failing every now and again, it's a sign you're not doing anything very innovative. If my films don't show a profit, I know I'm doing something right.
				</p>
				<h4 class="font100">The Office</h4>
				<ul class="unstyled">
					<li><span style="margin-right:5px;"><i class="icon-map-marker"></i></span> Address: 1234 Disney Paris, France</li>
					<li><span style="margin-right:3px;"><i class="icon-phone"></i></span> Phone: (123) 456-7890</li>
					<li><span style="margin-right:2px;"><i class="icon-envelope"></i></span> Email: <a href="mailto:wowthemesnet@gmail.com">wowthemesnet@gmail.com</a></li>
				</ul>
				<h4 class="font100">Business Hours</h4>
				<ul class="unstyled">
					<li><i class="icon-time"></i> Monday - Friday 9am to 5pm</li>
					<li><i class="icon-time"></i> Saturday - 9am to 2pm</li>
					<li><i class="icon-time"></i> Sunday - Closed</li>
				</ul>
			</div>
		</div>
		</section>
	</div>