<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig notransition"><%= @project.project_title %></h1>
		<p class="animated fadeInRightBig notransition container page-description">
			 <%= @project.short_description %>
		</p>
	</div>
</section>
	
<div class="wrapsemibox">
	<div class="semiboxshadow text-center">
		<img src="/assets/shp.png" class="img-responsive" alt="">
	</div>
	
	<div class="animated fadeInLeft notransition" style="margin-top:-40px;">
		<div class="carousel carousel-fade slide carousel-featuredwork projectdetail" id="carousel-featuredwork">
			<div>
					 <!-- <img src="/assets/projectdetail3.jpg" alt="" width="100%" height="50%">  -->
					<%= image_tag(@project.avatar, :style=> "width:100%;") %>
			</div>
		</div>
	</div>
	<section class="container">
		<div class="row">
			<div class="col-md-8 animated fadeInLeft notransition">
				<h1 class="smalltitle"> <span>Project Description</span> </h1>
				<p> 
					<%= @project.long_description %>
				</p>
				<p>
					<b>Year Creation</b>&nbsp;: 2014 <br/>
					<b>Client's Name</b>&nbsp;: John Doe <br/>
					<b>Web Category</b>&nbsp;: Shop Online <br/>
					<b>Completion Time</b>&nbsp;: 35 Days
				</p>
			</div>
		</div>
	</section>
</div>