<section class="pageheader-default text-center">
	<div class="semitransparentbg">
			<h1 class="animated fadeInLeftBig notransition">
			<%= @project.project_title %></h1>
		<p class="animated fadeInRightBig notransition container page-description">
			 <%= @project.short_description %>
		</p>
	</div>
</section>
	
<div class="wrapsemibox">
	<div class="semiboxshadow text-center">
		<img src="/assets/shp.png" class="img-responsive" alt="">
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-8 animated fadeInLeft notransition" style="margin-top:-40px;">
		<div class="carousel carousel-fade slide carousel-featuredwork projectdetail" id="carousel-featuredwork">
			<div>
					<%= image_tag(@project.avatar, :class => "imgresize") %>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
	<section class="container">
		<div class="row">
			<div class="col-md-8 animated fadeInLeft notransition">
				<h1 class="smalltitle"> <span>Project Description</span> </h1>
				<p> 
					<%= @project.long_description %>
				</p>
			</div>
		</div>
	</section>
</div>