<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig notransition">Services</h1>
		<p class="animated fadeInRightBig notransition container page-description">
			 Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
			 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
	</div>
</section>
<div class="wrapsemibox">
	<div class="semiboxshadow text-center">
		<img src="/assets/shp.png" class="img-responsive" alt="">
	</div>

	<section class="container services">
		<div class="row text-center animated fadeInUp notransition">
			<div class="col-md-4">
				<i class="icon-desktop"></i>
				<h4>WEB DESIGN</h4>
				<p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. </p>
			</div>
			<!-- col-md-4 -->
			<div class="col-md-4">
				<i class="icon-cogs"></i>
				<h4>WEB DEVELOPMENT</h4>
				<p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. </p>
			</div>
			<!-- col-md-4 -->
			<div class="col-md-4">
				<i class="icon-trophy"></i>
				<h4>SEO OPTIMIZED</h4>
				<p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. </p>
			</div>
			<!-- col-md-4 -->
		</div>
		<div class="row text-center topspace30 animated fadeInDown notransition">
			<div class="col-md-4">
				<i class="icon-heart"></i>
				<h4>SOCIAL MEDIA</h4>
				<p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. </p>
			</div>
			<!-- col-md-4 -->
			<div class="col-md-4">
				<i class="icon-shopping-cart"></i>
				<h4>E-COMMERCE</h4>
				<p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. </p>
			</div>
			<!-- col-md-4 -->
			<div class="col-md-4">
				<i class="icon-cloud"></i>
				<h4>CLOUD SERVICES</h4>
				<p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. </p>
			</div>
			<!-- col-md-4 -->
		</div>
	</section>	
</div>