<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig notransition">Services</h1>
		<p class="animated fadeInRightBig notransition container page-description">
			 Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
			 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
	</div>
</section>
<div class="wrapsemibox">
	<div class="semiboxshadow text-center">
		<img src="/assets/shp.png" class="img-responsive" alt="">
	</div>

	<section class="container services">
		<div class="row text-center animated fadeInUp notransition">
			<div class="col-md-4">
				<i class="icon-desktop"></i>
				<h4>ANDROID</h4>
				<p class="justify"> Apsolute Technologies offer complete Android Apps Development Solutions and has established expertise in mobile space. The company provides complete Android Apps Development Lifecycle ranging from conceptualization, designing, development, integration, testing, app store deployment and maintenance. Apart from this company also offers value added services such as Android Apps Testing and Android Porting-Migration Services. </p>
			</div>
			<!-- col-md-4 -->
			<div class="col-md-4">
				<i class="icon-cogs"></i>
				<h4>IPHONE</h4>
				<p class="justify"> Apsolute Technologies has a team of certified iPhone experts who stand out for their depth of technical knowledge and delivery excellence. Besides having worked for clients from various industries and geographies, we know what it is to understand ideas/concepts/custom development needs, accommodate changes during the interim stages of development to arrive at the final outcome - ensuring high quality of delivery all throughout Apsolute Technologies is counted among the top iPhone app development companies inMarket. </p>
			</div>
			<!-- col-md-4 -->
			<div class="col-md-4">
				<i class="icon-trophy"></i>
				<h4>WEB DESIGNING</h4>
				<p class="justify"> Have you been in search for the best web design company to get your corporate website designed? Do you want your website to stand out from the rest of the competition? Do you want to launch a website that performs well online? We have the best answers for all your requirements. We offer the most comprehensive range of web design services. We offer top-notch web design services that will help you impress your customers.  </p>
			</div>
			<!-- col-md-4 -->
		</div>
		<div class="row text-center topspace30 animated fadeInDown notransition">
			<div class="col-md-4">
				<i class="icon-heart"></i>
				<h4>WEBSITE MAINTENCE</h4>
				<p class="justify"> Are your getting your website updated regularly? If yes, are you spending a hoarded wealth on website maintenance? Does your website maintenance company take too long to take care of your needs? Our website maintenance package enables us to manage your site while you get on with your business! Once your website is launched we undertake a whole range of key activities to accomplish the website maintenance activities. </p>
			</div>
			<!-- col-md-4 -->
			<div class="col-md-4">
				<i class="icon-shopping-cart"></i>
				<h4>SUPPORT</h4>
				<p class="justify">Our web maintenance team works on projects that impact more than just maintaining existing websites and applications. They work on enhancing existing applications, adding new content, search engine optimization, bug fixing and constant technical support. </p>
			</div>
			<!-- col-md-4 -->
			<div class="col-md-4">
				<i class="icon-cloud"></i>
				<h4>SEO</h4>
				<p class="justify"> Considering all types of clients from small, medium and large businesses in all over the world, we have designed an affordable SEO package with benefits and features. Currently we are working more than 70 Projects only in Search Engine optimization services. With our services 99% of clients has been satisfied with our services and they have provided a positive feedback at our services. You can check the client’s feedback in our testimonials page. </p>
			</div>
			<!-- col-md-4 -->
		</div>
	</section>	
</div>