<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig notransition">Services</h1>
		<p class="animated fadeInRightBig notransition container page-description">
			 
		</p>
	</div>
</section>
<div class="wrapsemibox">
	<div class="semiboxshadow text-center">
		<img src="/assets/shp.png" class="img-responsive" alt="">
	</div>

	<section class="container services">
		<div class="row text-center animated fadeInUp notransition">
			<div class="col-md-4">
				<i class="icon-desktop"></i>
				<h4>Mobile Development</h4>
				<p class="justify"> ApSolute Technologies offer complete Android/IPhone /Widnows/BlackBarry Apps Development Solutions and has established expertise in mobile space. The company provides complete Android Apps Development Lifecycle ranging from conceptualization, designing, development, integration, testing, app store deployment and maintenance. Apart from this company also offers value added services such as Android Apps Testing and Android Porting-Migration Services. </p>
			</div>
			<!-- col-md-4 -->
			<div class="col-md-4">
				<i class="icon-cogs"></i>
				<h4>Website Development</h4>
				<p class="justify"> Are your getting your website updated regularly? If yes, are you spending a hoarded wealth on website maintenance? Does your website maintenance company take too long to take care of your needs? Our website maintenance package enables us to manage your site while you get on with your business! Once your website is launched we undertake a whole range of key activities to accomplish the website maintenance activities. </p>
			</div>
			<!-- col-md-4 -->
			<div class="col-md-4">
				<i class="icon-trophy"></i>
				<h4>SEO & Designing </h4>
				<p class="justify"> Have you been in search for the best web design company to get your corporate website designed? Do you want your website to stand out from the rest of the competition? Do you want to launch a website that performs well online? We have the best answers for all your requirements. We offer the most comprehensive range of web design services. We offer top-notch web design services that will help you impress your customers.  </p>
			</div>
			<!-- col-md-4 -->
		</div>
	</section>	
</div>