
nav#main_menu {clear: right;}		body header#header #logo a ,header#header.style2 #logo a , header#header.style3 #logo a{
		min-height: 95px;
			padding: 0 25px;
			line-height: 95px;
			text-align: center;
			height:95px;
			}
		#logo a img { max-height:60px;padding:10px; }
		#logo a img{
	max-width:none;
	width:auto;	
	/*height:100%;*/	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}


/*----------------------  Header --------------------------*/


#page_header.zn_def_header_style , #slideshow.zn_def_header_style , #page_header.uh_zn_def_header_style , #slideshow.uh_zn_def_header_style{
background-color:#AAAAAA;}

#page_header.zn_def_header_style #sparkles, #slideshow.zn_def_header_style #sparkles , #page_header.uh_zn_def_header_style #sparkles, #slideshow.uh_zn_def_header_style #sparkles {
}

#page_header.zn_def_header_style .bgback , #slideshow.zn_def_header_style .bgback , #page_header.uh_zn_def_header_style .bgback , #slideshow.uh_zn_def_header_style .bgback{
}

#page_header.zn_def_header_style , #slideshow.zn_def_header_style {background-image: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */ background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */background-image: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */background-image: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */background-image: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */}


/*----------------------  Unlimited Headers --------------------------*/


#page_header.uh_contact-us .bgback img, #slideshow.uh_contact-us .bgback img{
	border: 0 none;
    height: 100%;
    max-width: 100%;
    vertical-align: middle;
	width:100%;
    /*background-image: url("../images/contact-us.png");*/
	
	
}

#page_header.uh_contact-us #sparkles , #slideshow.uh_contact-us #sparkles {
    display: none;
}

#page_header.uh_contact-us , #slideshow.uh_contact-us {
    background-color: #AAAAAA;
    background-image: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
 /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5)));
 /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
 /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
 /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
 /* IE10+ */
    background-image: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
 /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
 /* IE6-9 */;
}


.pagebanner #bgback {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.pagebanner #bgback .inner {
    padding-top: 21.35%; /* height/width of image */
    display: block;
    height: 0;
}
/* default screen, non-retina */
.pagebanner.about-us #bgback { background-image: url('about-us.png'); }
.pagebanner.services-banner #bgback { background-image: url('services.png'); }
.pagebanner.career-banner #bgback { background-image: url('career.png'); }

@media only screen and (max-width: 340px) {
    /* Small screen, non-retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-470.png'); }
	.pagebanner.services-banner #bgback { background-image: url('services-470.png'); }
	.pagebanner.career-banner #bgback { background-image: url('career-470.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
	
}
@media only screen and (min-resolution: 2dppx) and (max-width: 340px) {
    /* Small screen, retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-470.png'); }
	.pagebanner.services-banner #bgback { background-image: url('services-470.png'); }
	.pagebanner.career-banner #bgback { background-image: url('career-470.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}

@media only screen and (min-width: 341px) and (max-width: 435px) {
    /* Medium screen, non-retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-520.png'); }
	.pagebanner.services-banner #bgback { background-image: url('services-520.png'); }
	.pagebanner.career-banner #bgback { background-image: url('career-520.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}
@media only screen and (min-resolution: 2dppx) and (min-width: 341px) and (max-width: 435px) {
    /* Medium screen, retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-520.png'); }
	.pagebanner.services-banner #bgback { background-image: url('services-520.png'); }
	.pagebanner.career-banner #bgback { background-image: url('career-520.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}
@media only screen and (min-resolution: 2dppx) and (min-width: 435px) {
    /* Large screen, retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-520.png'); }
	.pagebanner.services-banner #bgback { background-image: url('services-520.png'); }
	.pagebanner.career-banner #bgback { background-image: url('career-520.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}	
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}

@media only screen and (min-width: 434px) and (max-width: 501px) {
    /* Medium screen, non-retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-675.png'); }
	.pagebanner.services-banner #bgback { background-image: url('services-675.png'); }
	.pagebanner.career-banner #bgback { background-image: url('career-675.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}
@media only screen and (min-resolution: 2dppx) and (min-width: 434px) and (max-width: 501px) {
    /* Medium screen, retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-675.png'); }
	.pagebanner.services-banner #bgback { background-image: url('services-675.png'); }
	.pagebanner.career-banner #bgback { background-image: url('career-675.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}
@media only screen and (min-resolution: 2dppx) and (min-width: 501px) {
    /* Large screen, retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-675.png'); }
	.pagebanner.services-banner #bgback { background-image: url('services-675.png'); }
	.pagebanner.career-banner #bgback { background-image: url('career-675.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}	
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}

@media only screen and (min-width: 500px) and (max-width: 580px) {
    /* Medium screen, non-retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-800.png'); }
	.pagebanner.services-banner #bgback { background-image: url('services-800.png'); }
	.pagebanner.career-banner #bgback { background-image: url('career-800.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}
@media only screen and (min-resolution: 2dppx) and (min-width: 500px) and (max-width: 580px) {
    /* Medium screen, retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-800.png'); }
	.pagebanner.services-banner #bgback { background-image: url('services-800.png'); }
	.pagebanner.career-banner #bgback { background-image: url('career-800.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}
@media only screen and (min-resolution: 2dppx) and (min-width: 580px) {
    /* Large screen, retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-800.png'); }
	.pagebanner.services-banner #bgback { background-image: url('services-800.png'); }
	.pagebanner.career-banner #bgback { background-image: url('career-800.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}	
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}

@media only screen and (min-width: 579px) and (max-width: 679px) {
    /* Medium screen, non-retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-970-short.png'); }
	.pagebanner.services-banner #bgback { background-image: url('services-970.png'); }
	.pagebanner.career-banner #bgback { background-image: url('career-970.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}
@media only screen and (min-resolution: 2dppx) and (min-width: 579px) and (max-width: 679px) {
    /* Medium screen, retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-970-short.png'); }
	.pagebanner.services-banner #bgback { background-image: url('services-970.png'); }
	.pagebanner.career-banner #bgback { background-image: url('career-970.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}
@media only screen and (min-resolution: 2dppx) and (min-width: 679px) {
    /* Large screen, retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-970-short.png'); }
	.pagebanner.services-banner #bgback { background-image: url('services-970.png'); }
	.pagebanner.career-banner #bgback { background-image: url('career-970.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}	
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}

@media only screen and (min-width: 678px) and (max-width: 746px) {
    /* Medium screen, non-retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-1020.png'); }
	.pagebanner.services-banner #bgback { background-image: url('services-1020.png'); }
	.pagebanner.career-banner #bgback { background-image: url('career-1020.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}
@media only screen and (min-resolution: 2dppx) and (min-width: 678px) and (max-width: 746px) {
    /* Medium screen, retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-1020.png'); }
	.pagebanner.services-banner #bgback { background-image: url('services-1020.png'); }
	.pagebanner.career-banner #bgback { background-image: url('career-1020.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}
@media only screen and (min-resolution: 2dppx) and (min-width: 746px) {
    /* Large screen, retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-1020.png'); }
	.pagebanner.services-banner #bgback { background-image: url('services-1020.png'); }
	.pagebanner.career-banner #bgback { background-image: url('career-1020.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}	
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}

@media only screen and (min-width: 745px) and (max-width: 921px) {
    /* Medium screen, non-retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-1076.png'); }
	.pagebanner.services-banner #bgback { background-image: url('services-1076.png'); }
	.pagebanner.career-banner #bgback { background-image: url('career-1076.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}
@media only screen and (min-resolution: 2dppx) and (min-width: 745px) and (max-width: 921px) {
    /* Medium screen, retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-1076.png'); }
	.pagebanner.services-banner #bgback { background-image: url('services-1076.png'); }
	.pagebanner.career-banner #bgback { background-image: url('career-1076.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}
@media only screen and (min-resolution: 2dppx) and (min-width: 921px) {
    /* Large screen, retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-1076.png'); }
	.pagebanner.services-banner #bgback { background-image: url('services-1076.png'); }
	.pagebanner.career-banner #bgback { background-image: url('career-1076.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}	
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}

@media only screen and (min-width: 920px) and (max-width: 1004px) {
    /* Medium screen, non-retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-1217.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}
@media only screen and (min-resolution: 2dppx) and (min-width: 920px) and (max-width: 1004px) {
    /* Medium screen, retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-1217.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}
@media only screen and (min-resolution: 2dppx) and (min-width: 1004px) {
    /* Large screen, retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-1217.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}	
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}

@media only screen and (min-width: 1003px) and (max-width: 1200px) {
    /* Medium screen, non-retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-1300.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}
@media only screen and (min-resolution: 2dppx) and (min-width: 1003px) and (max-width: 1200px) {
    /* Medium screen, retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-1300.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}
@media only screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    /* Large screen, retina */
    .pagebanner.about-us #bgback { background-image: url('about-us-1300.png'); }
	.pagebanner{
		position:relative;
		min-height:300px;
	}
	.pagebanner #bgback {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 0;
		top:0;
		font: 0/0 serif;
		text-shadow: none;
		color: transparent;
		background-size: 100% 100%;
		/*background-position: 50% 50%;*/
		background-repeat: no-repeat;
	}	
	.pagebanner #bgback .inner {
    padding-top: 57.35%; /* height/width of image */
    display: block;
    height: 0;
	}
}



#page_header.uh_portfolio .bgback img, #slideshow.uh_portfolio .bgback img{
	border: 0 none;
    height: 100%;
    max-width: 100%;
    vertical-align: middle;
	width:100%;
    /*background-image: url("../images/portfolio.png");*/
}

#page_header.uh_portfolio #sparkles , #slideshow.uh_portfolio #sparkles {
    display: none;
}

#page_header.uh_portfolio , #slideshow.uh_portfolio {
    background-color: #AAAAAA;
    background-image: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
 /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5)));
 /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
 /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
 /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
 /* IE10+ */
    background-image: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
 /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
 /* IE6-9 */;
}

/* GENERAL COLOR */

	 a:hover, 
	.cart_details .checkout, 
	.info_pop .buyit, 
	.m_title, 
	.smallm_title, 
	.circle_title, 
	.feature_box .title, 
	.services_box .title, 
	.latest_posts.default-style .hoverBorder:hover h6, 
	.latest_posts.style2 ul.posts .title, 
	.latest_posts.style3 ul.posts .title, 
	.recentwork_carousel li .details h4, 
	.acc-group.default-style > button, 
	.acc-group.style3 > button:after, 
	.screenshot-box .left-side h3.title, 
	.vertical_tabs .tabbable .nav>li>a:hover, 
	.vertical_tabs .tabbable .nav>li.active>a, 
	.services_box.style2 .box .list li, 
	.shop-latest .tabbable .nav li.active a, 
	.product-list-item:hover .details h3, 
	.latest_posts.style3 ul.posts .title a,
	.statbox h4 
	{/*color:#f66621;*/ color:#28465e;}
	
	.acc-group.style3 > button:hover, 
	.acc-group.style3 > button:hover:after 
	{ color:#28465e ;}

	.tabs_style1 > ul.nav > li.active > a, 
	header.style1, 
	header.style2 #logo a, 
	header.style3 #logo a 
	{border-top: 3px solid #28465e;}

nav#main_menu > ul > li.active > a, 
nav#main_menu > ul > li > a:hover, 
nav#main_menu > ul > li:hover > a, 
.social-icons li a:hover, 
#action_box, 
body .circlehover,
body .flex-direction-nav li a:hover,
body .iosSlider .item .caption.style1 .more:before,
body .iosSlider .item .caption.style1 .more:after,
body .iosSlider .item .caption.style2 .more,
body .nivo-directionNav a:hover,
body #wowslider-container a.ws_next:hover,
body #wowslider-container a.ws_prev:hover,
.br-next:hover, .br-previous:hover,
body .ca-more,
body .title_circle,
body .title_circle:before,
body ul.links li a,
.hg-portfolio-sortable #portfolio-nav li a:hover, .hg-portfolio-sortable #portfolio-nav li.current a,
.iosSlider .item .caption.style1 .more:before, .iosSlider .item .caption.style1 .more:after,
.btn-flat ,
body.woocommerce a.button:hover, 
body.woocommerce button.button:hover, 
body.woocommerce input.button:hover, 
body.woocommerce #respond input#submit:hover, 
body.woocommerce #content input.button:hover, 
body.woocommerce-page a.button:hover, 
body.woocommerce-page button.button:hover, 
body.woocommerce-page input.button:hover, 
body.woocommerce-page #respond input#submit:hover, 
body.woocommerce-page #content input.button:hover,
body.woocommerce a.button, 
body.woocommerce button.button, 
body.woocommerce input.button, 
body.woocommerce #respond input#submit, 
body.woocommerce #content input.button, 
body.woocommerce-page a.button, 
body.woocommerce-page button.button, 
body.woocommerce-page input.button, 
body.woocommerce-page #respond input#submit, 
body.woocommerce-page #content input.button,
body.woocommerce a.button.alt, 
body.woocommerce button.button.alt, 
body.woocommerce input.button.alt, 
body.woocommerce #respond input#submit.alt, 
body.woocommerce #content input.button.alt, 
body.woocommerce-page a.button.alt, 
body.woocommerce-page button.button.alt, 
body.woocommerce-page input.button.alt, 
body.woocommerce-page #respond input#submit.alt, 
body.woocommerce-page #content input.button.alt,
body .woocommerce a.button, 
body .woocommerce button.button, 
body .woocommerce input.button, 
body .woocommerce #respond input#submit, 
body .woocommerce #content input.button, 
body .woocommerce-page a.button, 
body .woocommerce-page button.button, 
body .woocommerce-page input.button, 
body .woocommerce-page #respond input#submit, 
body .woocommerce-page #content input.button ,
span.zonsale,
.sidebar .widget ul.menu li.active > a,
.sidebar .widget ul.product-categories li.active > a, 
.sidebar .widget ul.pagenav li.active a, 
.sidebar .widget ul.menu li.current-cat > a, 
.sidebar .widget ul.product-categories li.current-cat > a, 
.sidebar .widget ul.pagenav li.current-cat > a, 
.sidebar .widget ul.menu li > a:hover, 
.sidebar .widget ul.product-categories li > a:hover, 
.sidebar .widget ul.pagenav li a:hover,
#limited_offers li:after,
.login-panel .create_account, 
.login-panel input[type=submit], 
.register-panel input[type=submit], 
.forgot-panel input[type=submit], 
.login-panel .login_facebook {background-color:#28465e;}

span.zonsale:before ,#limited_offers li:before{border-color:#28465e  transparent transparent;}

	.how_to_shop .number, .newsletter-signup input[type=submit], .vertical_tabs .tabbable .nav>li.active>a>span, .vertical_tabs .tabbable .nav>li>a:hover>span, #map_controls, .hg-portfolio-sortable #portfolio-nav li.current a, .ptcarousel .controls > a:hover, .itemLinks span a:hover, .product-list-item .details .actions a, .shop-features .shop-feature:hover, .btn-flat, .redbtn, #sidebar ul.menu li a:hover, .imgboxes_style1 .hoverBorder h6, .feature_box.style3 .box:hover, .services_box .box:hover .icon, .latest_posts.default-style .hoverBorder h6, .process_steps .step.intro, .recentwork_carousel.style2 li a .details .plus, .gobox.ok, .hover-box:hover, .recentwork_carousel li .details > .bg, .circlehover:before,.iosSlider .item .caption.style1 .more:before, .iosSlider .item .caption.style1 .more:after ,.iosSlider .item .caption.style2 .more {background-color:#28465e;}
	#action_box:before ,#action_box:after, header#header.style1{border-top-color:#28465e;}

	/* BORDER LEFT */
	.process_steps .step.intro:after,
	body .nivo-caption,
	body .flex-caption,
	body #wowslider-container .ws-title
	{border-left-color:#28465e; }

	.theHoverBorder:hover {box-shadow:0 0 0 5px #28465e inset;}

	.offline-page .containerbox {border-bottom:5px solid #28465e; }

	.offline-page .containerbox:after {border-top: 20px solid #28465e;}

	header#header.style2 #logo a {border-top: 3px solid #28465e;}

	body .iosSlider .item .caption.style2 .title_big, body .iosSlider .item .caption.style2 .title_small {border-left: 5px solid #28465e; }
	body .iosSlider .item .caption.style2.fromright .title_big, body .iosSlider .item .caption.style2.fromright .title_small {border-right: 5px solid #28465e ; }



/* HEADINGS */
h1 , .page-title{
	
	font-family:Open Sans;	font-size:36px;	line-height:40px;

}

h2 {
	
	font-family:Open Sans;	font-size:30px;	line-height:40px;

}

h3 {
	
	font-family:Open Sans;	font-size:24px;	line-height:40px;

}

h4 {
	
	font-family:Open Sans;	font-size:14px;	line-height:20px;

}

h5 {
	
	font-family:Open Sans;	font-size:12px;	line-height:20px;

}

h6 {
	
	font-family:Open Sans;	font-size:12px;	line-height:20px;

}

/* Body */
body{
	
	font-family:Open Sans;	font-size:13px;	line-height:19px;	
}
/* Grey Area */
body .gray-area {
	
	font-family:Open Sans;	font-size:13px;	line-height:19px;	
}
/* Footer Area */
body #footer {
	
	font-family:Open Sans;	font-size:13px;	line-height:19px;	
}

body #page_wrapper , body.boxed #page_wrapper {
	background-color:#ffffff;		background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
}

.gray-area {
	background-color:#ebebeb;		background-repeat:repeat;
	background-position:left top;
	background-attachment:scroll;
}


header#header , .oldie #page_wrapper header#header{
					
}

footer#footer {
	word-wrap:break-word;
					
}

footer#footer .bottom{
	border-top:5px solid #484848;}


nav#main_menu > ul > li > a {
	
	font-family:"Lato" , "Helvetica Neue", Helvetica, Arial, sans-serif;	font-size:14px;	line-height:14px;	color:#fff;	font-weight:bold;
}

/*responsive*/
@media only screen 
and (min-width : 481px) 
and (max-width : 768px) {
	body header#header #logo a, header#header.style2 #logo a, header#header.style3 #logo a{
	height: 45px;
    line-height: 79px;
    min-height: 45px;
    padding: 0 25px;
    text-align: center;
	}
	
}

@media (max-width: 480px) {
	body header#header #logo a, header#header.style2 #logo a, header#header.style3 #logo a{
	height: 47px;
    line-height: 57px;
    min-height: 47px;
    padding: 0 25px;
    text-align: center;
	}
}
	










