html {
	margin-right:10px;
}
body {
	font-family:'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:13px;
	line-height:22px;
	color:#777;
	overflow-y:hidden;
}
.wrapsemibox {padding-top: 40px;}
.row {
	margin-left:0;
	margin-right:0;
}
ul,menu,dir {
	display:block;
	list-style-type:disc;
	-webkit-padding-start:0;
	-moz-padding-start:0;
	-khtml-padding-start:0px;
	-o-padding-start:0px;
	padding-start:0px;
	padding:0px;
}
ul.icons {
	list-style:none;
}
ul.icons i {
	margin-right:5px;
}
a {
	color:#f54828;
}
a:hover {
	text-decoration:none;
}
::selection{background:#f54828; color:#fff;}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	color:#444;
	font-family:Open Sans,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
}
strong, b{
font-weight: 500;}
/*--------------------------------------------------	HEADER---------------------------------------------------*/
.toparea {
	background:#444;
		font-size:12px;
	color:#ccc;
	padding-top:15px;
	padding-bottom:15px;
	margin-bottom:75px;
}
.toparea a {
	color:#ccc;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.toparea .separator {
	display:inline-block;
	width:1px;
	height:10px;
	border-left:solid 1px #ccc;
	margin:0 20px 0 20px;
}
.toparea .pull-left {margin-top: -3px;}
.social-icons a {
	display:inline-block;
	width:32px;
	margin:0px 10px;
	font-size:16px;
	color:#999;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.social-icons a:hover {
	color:#fff;
}
.top-text a:hover {
	color:#fff;
}
.navbar-toggle {
	background:#333;
}
.nav {
	margin-top:28px;
	/* this is a faux center fix for the nav options - adjust this if you wish to change the logo height or the font of the menu items */
}
.navbar {
	background-color:#fff;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,.12);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,.12);
	box-shadow:0 1px 3px rgba(0,0,0,.12);
	background:url(/assets/head.png) repeat;
	min-height:0;
	border-radius:0;
	border:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:20px;
	padding-bottom:20px;
}
.navbar-brand {
	padding:0;
}
.nav {
	margin-top:0;
}
.navbar-fixed-top {
	top:47px;
}
.navbar>.container .navbar-brand {
	margin-left:15px;
}
.navbar-nav>li {
	margin-left:2px;
}
.navbar-nav>li>a {
	color:#555;
	border-radius:0px;
	margin-top:-26px;
	padding-top:26px;
	margin-bottom:-20px;
	padding-bottom:20px;
	line-height:40px;
	text-transform:uppercase;
	font-weight:700;
	font-family:Roboto;
	font-size:13px;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}
.navbar-nav>li.active>a,.navbar-nav>li.active>a:hover,.navbar-nav>li.active>a:focus {
	background-color:#f54828;
	color:#fff;
	border-radius:3px 3px 0 0 !Important;
}
.navbar-nav>li.active>a:before,.navbar-nav>li>a:hover:before,.navbar-nav>li>a:focus:before,.extra-nav-class a.dropdown-toggle:before {
	content:"";
	width:0;
	height:0;
	border-bottom:6px solid #f54828;
	border-right:6px solid transparent;
	position:absolute;
	top:0px;
	right:-4px;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}
.navbar-nav>li>a:hover,.navbar-nav>li>a:focus {
	border-radius:3px 3px 0 0 !Important;
	background-color:#f54828;
	color:#fff;
}
.navbar-nav>li>.dropdown-menu {
	margin:20px 0px 0 0px !Important;
	background-color:#444;
	border:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	font-size:13px;
	padding-top:0;
	padding-bottom:0;
	min-width:165px;
}
.dropdown-menu {
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	font-size:13px;
	padding-top:0;
	padding-bottom:0;
	border:0px;
	font-size:13px;
}
.dropdown-menu>li>a {
	color:#ccc;
	padding-top:10px;
	padding-bottom:10px;
	border:0px !Important;
	border-bottom:1px solid #3c3c3c!Important;
	border-top:1px solid #4f4f4f !important;
	background:#444 !Important;
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
	background-color:#f54828 !Important;
	color:#fff;
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a {
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}
.navbar-nav.pull-right>li>.dropdown-menu,.navbar-nav>li>.dropdown-menu.pull-right {
	left:0;
}
.dropdown-toggle i {
	font-weight:700;
}
.extra-nav-class a.dropdown-toggle {
	background-color:#f54828 !Important;
	color:#fff !important;
	border-radius:3px 3px 0 0 !Important;
}
.dropdown-menu .sub-menu {
	position:absolute;
	visibility:hidden;
	margin-top:-40px;
	top:auto;
	display:inline;
	left:-100%;
	margin-left:5px;
}
.dropdown-menu .sub-menu li a,.dropdown-menu .sub-menu li a:hover {
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
	-ms-transition:none;
	transition:none;
	transition:margin-left 0.3s linear;
}
.dropdown-menu li a i {
	margin-left:5px;
}

.dropdown-menu li:hover .sub-menu {
	visibility:visible;
	display:block;
}
.navbar .sub-menu:before {
	border-bottom:7px solid transparent;
	border-left:none;
	border-right:7px solid rgba(0,0,0,0.2);
	border-top:7px solid transparent;
	left:-7px;
	top:10px;
}
.navbar .sub-menu:after {
	border-top:6px solid transparent;
	border-left:none;
	border-right:6px solid #fff;
	border-bottom:6px solid transparent;
	left:10px;
	top:11px;
	left:-6px;
}
.wowmenu.tiny {
	top:0px !Important;
	background:rgba(255,255,255,0.97) !important;
	padding-top:10px;
	padding-bottom:10px;
}
.wowmenu.tiny .navbar-nav>li>a {
	line-height:24px;
	margin-top:-26px;
	padding-top:30px;
	margin-bottom:-20px;
	padding-bottom:16px;
}
.navbar-brand img {
	max-width:100%;
}
.wowmenu.tiny .navbar-brand img {
	max-width:85%;
}
.navbar-brand img,.wowmenu.tiny .navbar-brand img {
	transition:all 0.7s ease;
	-webkit-transition:all 0.7s ease;
	-moz-transition:all 0.7s ease;
	-o-transition:all 0.7s ease;
}
.semiboxshadow {
	display: none;
}
/*--------------------------------------------------	CAROUSEL SLIDER---------------------------------------------------*/
#c-slide {
	padding:0px;
	margin-top:-2px;
}
.carouselvshadow {
	margin-top:-30px;
}
.car-highlight1 {
	font-size:20px;
	line-height:20px;
	font-weight:800;
	color:rgb(255,255,255);
	text-decoration:none;
	background-color:#f54828;
	padding:10px;
	border-width:0px;
	border-color:rgb(255,214,88);
	border-style:none;
	display:inline-block;
}
.car-highlight2 {
	font-size:20px;
	line-height:20px;
	font-weight:800;
	color:rgb(255,255,255);
	text-decoration:none;
	background-color:#7f8c8d;
	padding:10px;
	border-width:0px;
	border-color:rgb(255,214,88);
	border-style:none;
	display:inline-block;
	margin-top:10px;
}
.car-highlight3 {
	font-size:20px;
	line-height:20px;
	font-weight:800;
	color:rgb(255,255,255);
	text-decoration:none;
	background-color:#f39c12;
	padding:10px;
	border-width:0px;
	border-color:rgb(255,214,88);
	border-style:none;
	display:inline-block;
	margin-top:10px;
}
.car-highlight4 {
	font-size:20px;
	line-height:20px;
	font-weight:800;
	color:rgb(255,255,255);
	text-decoration:none;
	background-color:#34495e;
	padding:10px;
	border-width:0px;
	border-color:rgb(255,214,88);
	border-style:none;
	display:inline-block;
	margin-top:10px;
}
.car-highlight5 {
	font-size:20px;
	line-height:28px;
	font-weight:800;
	color:#fff;
	text-decoration:none;
	padding:10px;
	border-width:0px;
	border-color:rgb(255,214,88);
	margin-left:-6px;
	border-style:none;
	display:inline-block;
	margin-top:10px;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
}
.car-largetext {
	font-weight:800;
	font-family:Open Sans;
	color:#fff;
	text-decoration:none;
	background-color:transparent;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
	margin:0px;
	padding:1px 4px 0px;
	border-width:0px;
	border-color:rgb(255,214,88);
	border-style:none;
	font-size:50px;
}
.car-widecircle {
	background:#222;
	width:130px;
	height:130px;
	color:#fff;
	border-radius:50%;
	display:inline-block;
	position:relative;
	margin-right:20px;
}
.car-widecircle span {
	position:absolute;
	text-align:center;
	vertical-align:middle;
	line-height:130px;
	width:130px;
	margin:0px auto;
	right:0;
	font-weight:100;
	font-size:19px;
}
.car-middlecircle {
	background:#fff;
	width:120px;
	height:120px;
	color:#555;
	border-radius:50%;
	display:inline-block;
	position:relative;
	margin-right:20px;
}
.car-middlecircle span {
	position:absolute;
	text-align:center;
	vertical-align:middle;
	line-height:120px;
	width:120px;
	margin:0px auto;
	right:0;
	font-weight:100;
	font-size:19px;
}
.car-smallcircle {
	background:#f54828;
	width:100px;
	height:100px;
	color:#fff;
	border-radius:50%;
	display:inline-block;
	position:relative;
}
.car-smallcircle span {
	position:absolute;
	text-align:center;
	vertical-align:middle;
	line-height:100px;
	width:100px;
	margin:0px auto;
	right:0;
	font-weight:100;
	font-size:19px;
}
.carouselText1 {
	font-weight:800;
	margin-top:50px;
	margin-bottom:20px;
	font-size:25px;
	background:#333;
	color:#fff;
	padding:10px 20px;
	display:inline-block;
	text-transform:uppercase;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
	border-radius:0;
}
.carouselText2 {
	font-size:19px;
	background:#f54828;
	display:inline-block;
	padding:5px 20px;
	color:#fff;
	border-radius:0;
	margin-bottom:15px;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
	font-weight:600;
}
.carouselText3 {
	font-size:14px;
	display:inline-block;
	padding:0px 10px;
	color:#fff;
	border-radius:5px;
	font-weight:900;
	text-transform:uppercase;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
}
.slide1-1 {
	z-index:0;
	margin-top:-230px;
	position:relative;
	margin-left:0px;
	left:0px;
	max-width:85%;
}
.slide1-2 {
	z-index:1000;
	margin-top:-250px;
	position:relative;
	right:180px;
	max-width:22%;
}