html {
	margin-right:10px;
}
body {
	font-family:'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:13px;
	line-height:22px;
	color:#777;
	overflow-y:hidden;
}
.wrapsemibox {padding-top: 40px;}
.row {
	margin-left:0;
	margin-right:0;
}
ul,menu,dir {
	display:block;
	list-style-type:disc;
	-webkit-padding-start:0;
	-moz-padding-start:0;
	-khtml-padding-start:0px;
	-o-padding-start:0px;
	padding-start:0px;
	padding:0px;
}
ul.icons {
	list-style:none;
}
ul.icons i {
	margin-right:5px;
}
a {
	color:#f54828;
}
a:hover {
	text-decoration:none;
}
::selection{background:#f54828; color:#fff;}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	color:#444;
	font-family:Open Sans,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
}
strong, b{
font-weight: 500;}
/*--------------------------------------------------	HEADER---------------------------------------------------*/
.toparea {
	background:#444;
		font-size:12px;
	color:#ccc;
	padding-top:15px;
	padding-bottom:15px;
	margin-bottom:75px;
}
.toparea a {
	color:#ccc;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.toparea .separator {
	display:inline-block;
	width:1px;
	height:10px;
	border-left:solid 1px #ccc;
	margin:0 20px 0 20px;
}
.toparea .pull-left {margin-top: -3px;}
.social-icons a {
	display:inline-block;
	width:32px;
	margin:0px 10px;
	font-size:16px;
	color:#999;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.social-icons a:hover {
	color:#fff;
}
.top-text a:hover {
	color:#fff;
}
.navbar-toggle {
	background:#333;
}
.nav {
	margin-top:28px;
	/* this is a faux center fix for the nav options - adjust this if you wish to change the logo height or the font of the menu items */
}
