  <footer>
    <section id="mainFooter">
      <div class="container" id="footer">
        <div class="row">
          <div class="span12 text-center">
            <div class="blocPhone">
              <div class="iconWrapper color3"><i class="icon-phone"></i></div>
              615.987.1234 </div>
            </div>
            <div class="span12">
              <ul class="socialNetwork">
                <li><a href="#" class="iconWrapper color4 tips icoRss" title="Rss"><i class="icon-rss"></i></a></li>
                <li><a href="#" class="iconWrapper color4 tips icoFacebook" title="Facebook"><i class="icon-facebook"></i></a></li>
                <li><a href="#" class="iconWrapper color4 tips icoTwitter" title="Twitter"><i class="icon-twitter"></i></a></li>
                <li><a href="#" class="iconWrapper color4 tips icoGoogle" title="Google +"><i class="icon-gplus"></i></a></li>
                <li><a href="#" class="iconWrapper color4 tips icoVimeo" title="Vimeo"><i class="icon-vimeo"></i></a></li>
                <li class="last"><a href="#" class="iconWrapper color4 tips icoLinkedin" title="Linkedin"><i class="icon-linkedin"></i></a></li>
              </ul>
            </div>
            <div class="span12"> </div>
          </div>
        </div>
      </section>
    </footer>

                              <section  id="footerRights">
                                <div class="container">
                                  <div class="row">
                                    <div class="span12">
                                      <p>Copyright © 2012 <a href="http://www.little-neko.com" target="blank">Little NEKO</a> / All rights reserved.</p>
                                    </div>
                                  </div>
                                </div>
                              </section>

