  <div class="footer">
    <div class="container animated fadeInUpNow notransition fadeInUp">
      <div class="row">
        <div class="col-md-4">
          <h1 class="footerbrand">ApSolute</h1>
          <p>
             ApSolute Technologies a passionate group of developers, designers, thinkers and doers. </p>
             <p> Our team is happiest when challenged to turn difficult problems into elegant solutions. </p>
            <p> Our mission is to create and launch amazing products.
          </p>
        </div>
        <div class="col-md-4">
            <h1 class="title"><span class="colortext">F</span>ind <span class="font100">Us</span></h1>
            <div class="footermap">
              <p> <strong>Address: </strong> 
                Ahmedabad, Gujarat, India
              </p>
              <p> <strong>Phone: </strong> +91 79 40326868 </p>
              <p> <strong>Email: </strong> apsolutetechnology@gmail.com </p>
            </div>
             <ul class="social-icons list-soc">
              <li><a href="http://www.facebook.com"><i class="icon-facebook"></i></a></li>
              <li><a href="http://www.twitter.com"><i class="icon-twitter"></i></a></li>
              <li><a href="http://www.linkedin"><i class="icon-linkedin"></i></a></li>
              <li><a href="http://www.google.com"><i class="icon-google-plus"></i></a></li>
              <li><a href="http://www.skype"><i class="icon-skype"></i></a></li>
            </ul>

          </div>

        <div class="col-md-4">
          <h1 class="title"><span class="colortext">T</span>estimonials</h1>
          <div id="quotes">
            <div id="quote_wrap" style="height: 121px;"><div class="textItem" style="display: block;">
              <div class="avatar">
                <img src="/assets/avatar.jpg" alt="avatar">
              </div>
               "Before turning to those moral and mental aspects of the matter which present the greatest difficulties, let the inquirer begin by mastering more elementary problems.<span style="font-family:arial;">"</span><br><b> Jesse T, Los Angeles </b>
            </div><div class="textItem" style="display: none;">
              <div class="avatar">
                <img src="/assets/avatar.jpg" alt="avatar">
              </div>
               "How often have I said to you that when you have eliminated the impossible, whatever remains, however improbable, must be the truth?<span style="font-family:arial;">"</span><br><b>Ralph G. Flowers </b>
            </div></div>
            
          </div>
          <div class="clearfix">
          </div>
        </div>
      </div>
    </div>
  </div>



<%= javascript_include_tag "application" %>
<script>
  /* ---------------------------------------------------------------------- */
  /*  Carousel
  /* ---------------------------------------------------------------------- */
  $(window).load(function(){      
    $('#carousel-projects').carouFredSel({
    responsive: true,
    items       : {
        width       : 200,
        height      : 295,
        visible     : {
            min         : 1,
            max         : 4
        }
    },
    width: '200px',
    height: '295px',
    auto: true,
    circular  : true,
    infinite  : false,
    prev : {
      button    : "#car_prev",
      key     : "left",
        },
    next : {
      button    : "#car_next",
      key     : "right",
          },
    swipe: {
      onMouse: true,
      onTouch: true
      },
    scroll: {
        easing: "",
        duration: 1200
    }
  });
    });
</script>
<script>
  //CALL TESTIMONIAL ROTATOR
  $( function() {
    /*
    - how to call the plugin:
    $( selector ).cbpQTRotator( [options] );
    - options:
    {
      // default transition speed (ms)
      speed : 700,
      // default transition easing
      easing : 'ease',
      // rotator interval (ms)
      interval : 8000
    }
    - destroy:
    $( selector ).cbpQTRotator( 'destroy' );
    */
    $( '#cbp-qtrotator' ).cbpQTRotator();
  } );
</script>
<script>
  //CALL PRETTY PHOTO
  $(document).ready(function(){
    $("a[data-gal^='prettyPhoto']").prettyPhoto({social_tools:'', animation_speed: 'normal' , theme: 'dark_rounded'});
  });
</script>
<script>
  //MASONRY
  $(document).ready(function(){
  var $container = $('#content');
    $container.imagesLoaded( function(){
    $container.isotope({
    filter: '*',  
    animationOptions: {
     duration: 750,
     easing: 'linear',
     queue: false,   
     }
  });
  });
  $('#filter a').click(function (event) {
    $('a.selected').removeClass('selected');
    var $this = $(this);
    $this.addClass('selected');
    var selector = $this.attr('data-filter');
    $container.isotope({
       filter: selector
    });
    return false;
  });
  });
</script>
<script>
//ROLL ON HOVER
  $(function() {
  $(".roll").css("opacity","0");
  $(".roll").hover(function () {
  $(this).stop().animate({
  opacity: .8
  }, "slow");
  },
  function () {
  $(this).stop().animate({
  opacity: 0
  }, "slow");
  });
  });
</script>

<script>
/* ---------------------------------------------------------------------- */
  /*  Accordion
  /* ---------------------------------------------------------------------- */
  var clickElem = $('#accordion div h4');
  clickElem.on('click', function(){
    var $this = $(this),
      parentCheck = $this.parent('div');
    if( !parentCheck.hasClass('active')) {
      var accordItems = $('#accordion div');
      accordItems.removeClass('active');
      parentCheck.addClass('active');
    }
  });
</script>
