    <header id="mainHeader" class="clearfix">
      <div class="container">
        <div class="row">
          <div class="span12"> <a href="index.html" class="brand"><img src="/assets/main-logo.png" alt="ALTEA website template"/></a>
            <nav id="resMainMenu" class="scrollMenu">
              <ul class="nav clearfix">
                <li class="active"><a href="#home">Home</a> </li>
                <!-- <li><a href="#news">News</a> </li>  -->
                <li><a href="#services">Services</a> </li>
                <li><a href="#works">Works</a> </li>
                <!-- <li><a href="#team">Team</a> </li> -->
                <!-- <li><a href="features.html">Features</a> </li> -->
                <!-- <li><a href="blog-home-sidebar-right.html">Blog</a> </li> -->
                <li><a href="#contactSlice">Contact</a> </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
