<div class="row ">
  <div class="span4 box image-boxes imgboxes_style1">
    <a class="hoverBorder" href="#" target="_self">
      <span class="hoverBorderWrapper">
      <img src="/assets/web.png" alt="" title="Web Development">
      <span class="theHoverBorder"></span>
      </span>
      <h6>Read More+</h6>
    </a>
    <h3 class="m_title">Web Development</h3>
    Are your getting your website updated regularly? If yes, are you spending a hoarded wealth on website maintenance? Does your website maintenance company take too long to take care of your needs? Our website maintenance package enables us to manage your site while you get on with your business! Once your website is launched we undertake a whole range of key activities to accomplish the website maintenance activities.
  </div>
  <!-- end span -->
  <div class="span4 box image-boxes imgboxes_style1">
    <a class="hoverBorder" href="#" target="_self">
      <span class="hoverBorderWrapper">
      <img src="/assets/Mobile-Apps-Recovered.png" alt="" title="Mobile Development">
      <span class="theHoverBorder"></span>
      </span>
      <h6>Read More+</h6>
    </a>
    <h3 class="m_title">Mobile Development</h3>
    ApSolute Technologies offer complete Android/IPhone /Widnows/BlackBarry Apps Development Solutions and has established expertise in mobile space. The company provides complete Android Apps Development Lifecycle ranging from conceptualization, designing, development, integration, testing, app store deployment and maintenance. Apart from this company also offers value added services such as Android Apps Testing and Android Porting-Migration Services.
  </div>
  <!-- end span -->
  <div class="span4 box image-boxes imgboxes_style1">
    <a class="hoverBorder" href="#" target="_self">
      <span class="hoverBorderWrapper">
      <img src="/assets/seo-icon.png" alt="" title="Dedicated Services">
      <span class="theHoverBorder">
      </span>
      </span>
      <h6>Read More+</h6>
    </a>
    <h3 class="m_title">SEO &amp; Designing </h3>
    Have you been in search for the best web design company to get your corporate website designed? Do you want your website to stand out from the rest of the competition? Do you want to launch a website that performs well online? We have the best answers for all your requirements. We offer the most comprehensive range of web design services. We offer top-notch web design services that will help you impress your customers.
  </div>
  <!-- end span -->
</div>