<div id="slideshow" class="uh_zn_def_header_style portfolio_devices zn_slideshow">
  <div class="bgback"></div>
  <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:5px;margin-top:0px;margin-bottom:0px;max-height:630px;">
    <div id="rev_slider_1_1" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive">
      <ul>
        <!--rs-slider1-->
        <li data-transition="boxfade" data-slotamount="7"  data-masterspeed="300"  title="" data-thumb="../assets/images/thumbs/regular_thumb2.jpg">
          <img src="/assets/banner1.jpg"  >
          <div class="caption para1 fade" data-x="225" data-y="407" data-speed="300" data-start="800" data-easing="easeOutExpo"><img style="width: 495px; height: 149px;" src="/assets/banner1-pc.png" alt="banner-pc-1"></div>
          <div class="caption sft big_bnnr1_black"  data-x="180" data-y="123" data-speed="300" data-start="1100" data-easing="easeOutExpo">Responsive Web Development</div>
          <div class="caption sft small1_bnnr1_black"  data-x="240" data-y="178" data-speed="300" data-start="1400" data-easing="easeOutExpo">
            <p>Does Your Website Make a Splash</p>
          </div>
          <div class="caption para1 lfl" data-x="-12" data-y="460" data-speed="300" data-start="1700" data-easing="easeOutExpo"><img style="width: 71px; height: 72px;" src="/assets/banner1-js.png" alt="Java Script"></div>
          <div class="caption sfr smlcaption_white" data-x="62" data-y="475" data-speed="300" data-start="2000" data-easing="easeOutExpo">
            <p>Javascript</p>
          </div>
          <div class="caption para1 lfl" data-x="162" data-y="336" data-speed="300" data-start="2300" data-easing="easeOutExpo"><img style="width: 65px; height: 72px;" src="/assets/banner1-h5.png" alt="HTML 5"></div>
          <div class="caption sfr smlcaption_white" data-x="234" data-y="352" data-speed="300" data-start="2600" data-easing="easeOutExpo">
            <p>HTML5</p>
          </div>
          <div class="caption sft" data-x="343" data-y="247" data-speed="300" data-start="2900" data-easing="easeOutExpo"><img style="width: 325px; height: 82px; " src="/assets/banner1-gif.gif" alt="gif" /></div>
          <div class="caption para1 sfr" data-x="645" data-y="336" data-speed="300" data-start="3200" data-easing="easeOutExpo"><img style="width: 66px; height: 74px;" src="/assets/banner1-c3.png" alt="CSS 3"></div>
          <div class="caption sfr smlcaption_white" data-x="720" data-y="352" data-speed="300" data-start="3500" data-easing="easeOutExpo">
            <p>CSS3</p>
          </div>
          <div class="caption para1 lfr" data-x="747" data-y="460" data-speed="300" data-start="3800" data-easing="easeOutExpo"><img style="width: 77px; height: 73px;" src="/assets/banner1-jquery.png" alt="Java Script"></div>
          <div class="caption sfr smlcaption_white" data-x="836" data-y="475" data-speed="300" data-start="4100" data-easing="easeOutExpo">
            <p>Jquery</p>
          </div>
          <div class="caption sfb" data-x="835" data-y="537" data-speed="1000"
            data-start="2600" data-easing="easeOutBack"><a href="<%= contact_us_path %>"
            target="_self" class="tp-button blue small">Get a Quote</a></div>
        </li>
        <li data-transition="random" data-slotamount="7"  data-masterspeed="300"  title="" data-thumb="../assets/images/thumbs/regular_thumb3.jpg">
          <img src="/assets/banner3.jpg"  >
          <div class="caption para3 fade" data-x="14" data-y="236" data-speed="300" data-start="1200" data-easing="easeOutExpo"><img style="width: 500px; height: 215px;" src="/assets/banner3-disgn.png" alt="banner2-sco"></div>
          <div class="caption para3 lft" data-x="166" data-y="95" data-speed="300" data-start="1800" data-easing="easeOutExpo"><img style="width: 197px; height: 199px;" src="/assets/banner3-devlp.png" alt="banner3-devlp"></div>
          <div class="caption para3 lfb" data-x="163" data-y="394" data-speed="300" data-start="2000" data-easing="easeOutExpo"><img style="width: 202px; height: 197px;" src="/assets/banner3-mob.png" alt="banner3-mob"></div>
          <div class="caption sfr big_white"  data-x="525" data-y="180" data-speed="300" data-start="2400" data-easing="easeOutExpo">Web &amp; Mobile Application<br/>Development</div>
          <div class="caption lfb small_white_bannr"  data-x="528" data-y="295" data-speed="300" data-start="2800" data-easing="easeOutExpo">
            <p>Our website maintenance package<br/>enables us to manage your site while<br/>you get on with your business!</p>
          </div>
          <div class="caption lfb small_white_bannr"  data-x="528" data-y="396" data-speed="300" data-start="3200" data-easing="easeOutExpo">
            <p>We offer complete Android /IPhone /Widnows<br/>/BlackBarry Apps Development Solutions<br/>and has established expertise<br/>in mobile space.</p>
          </div>
          <div class="caption sfb" data-x="835" data-y="537" data-speed="1000"
            data-start="2600" data-easing="easeOutBack"><a href="<%= contact_us_path %>"
            target="_self" class="tp-button blue small">Get a Quote</a></div>
        </li>
        <li data-transition="random" data-slotamount="7"  data-masterspeed="300"  title="" data-thumb="../assets/images/thumbs/regular_thumb2.jpg">
          <img src="/assets/banner2.jpg"  >
          <div class="caption para3 sft" data-x="14" data-y="135" data-speed="300" data-start="1700" data-easing="easeOutExpo"><img style="width: 393px; height: 451px;" src="/assets/banner2-sco.png" alt="banner2-sco"></div>
          <div class="caption sfr big_black"  data-x="521" data-y="240"
            data-speed="300" data-start="2600" data-easing="easeOutExpo">SEO
            Service
          </div>
          <div class="caption lfb
            small_cap_bnnr2"  data-x="526" data-y="340" data-speed="300"
            data-start="2900" data-easing="easeOutExpo">
            <p>With our customized SEO
              services<br/>we make your website visible<br/>to your potential
              customers.
            </p>
          </div>
          <div class="caption sfb" data-x="835" data-y="537" data-speed="1000"
            data-start="2600" data-easing="easeOutBack"><a href="<%= contact_us_path %>"
            target="_self" class="tp-button blue small">Get a Quote</a></div>
        </li>
        <li data-transition="boxfade" data-slotamount="7"  data-masterspeed="300"  title="" data-thumb="../assets/images/thumbs/regular_thumb4.jpg">
          <img src="/assets/banner4.jpg"  >
          <div class="caption para1 fade" data-x="364" data-y="279" data-speed="300" data-start="800" data-easing="easeOutExpo"><img src="/assets/logo_on_slider.png" alt="apsolute-logo"></div>
          <div class="caption para1 fade"  data-x="229" data-y="148" data-speed="300" data-start="1100" data-easing="easeOutExpo"><img style="width:481px; height:319px;" src="/assets/banner4-ring1.png" alt="ring1"></div>
          <div class="caption para1 fade"  data-x="211" data-y="136" data-speed="400" data-start="1400" data-easing="easeOutExpo"><img style="width:517px; height:343px;" src="/assets/banner4-ring2.png" alt="ring2"></div>
          <div class="caption para1 sft" data-x="410" data-y="105" data-speed="400" data-start="1700" data-easing="easeOutExpo"><img src="/assets/banner4-analysis.png" alt="Analysis"></div>
          <div class="caption para1 lfr" data-x="633" data-y="190" data-speed="400" data-start="2000" data-easing="easeOutExpo"><img src="/assets/banner4-dsgn.png" alt="Design"></div>
          <div class="caption para1 sfr" data-x="601" data-y="356" data-speed="400" data-start="2300" data-easing="easeOutExpo"><img src="/assets/banner4-code.png" alt="Codding"></div>
          <div class="caption para1 sfb" data-x="410" data-y="414" data-speed="400" data-start="2600" data-easing="easeOutExpo"><img src="/assets/banner4-testng.png" alt="Testing"></div>
          <div class="caption para1 sfl" data-x="216" data-y="356" data-speed="400" data-start="2900" data-easing="easeOutExpo"><img src="/assets/banner4-maintnce.png" alt="Maintenance"></div>
          <div class="caption para1 lfl" data-x="171" data-y="190" data-speed="400" data-start="3000" data-easing="easeOutExpo"><img src="/assets/banner4-prjct.png" alt="Project Plannig"></div>
          <div class="caption para1 fade" data-x="552" data-y="143" data-speed="400" data-start="3300" data-easing="easeOutExpo"><img src="/assets/banner4-analysis-arrow.png" alt="Arrow"></div>
          <div class="caption para1 fade" data-x="697" data-y="287" data-speed="400" data-start="3600" data-easing="easeOutExpo"><img src="/assets/banner4-dsgn-arrow.png" alt="Arrow"></div>
          <div class="caption para1 fade" data-x="577" data-y="432" data-speed="400" data-start="3900" data-easing="easeOutExpo"><img src="/assets/banner4-code-arrow.png" alt="Arrow"></div>
          <div class="caption para1 fade" data-x="362" data-y="448" data-speed="400" data-start="4000" data-easing="easeOutExpo"><img src="/assets/banner4-testng-arrow.png" alt="Arrow"></div>
          <div class="caption para1 fade" data-x="203" data-y="337" data-speed="400" data-start="4300" data-easing="easeOutExpo"><img src="/assets/banner4-maintnce-arrow.png" alt="Arrow"></div>
          <div class="caption para1 fade" data-x="279" data-y="170" data-speed="400" data-start="4600" data-easing="easeOutExpo"><img src="/assets/banner4-prjct-arrow.png" alt="Arrow"></div>
          <div class="caption sfb" data-x="835" data-y="537" data-speed="1000" data-start="2600" data-easing="easeOutBack"><a href="<%= contact_us_path %>" target="_self" class="tp-button blue small">Get a Quote</a></div>
        </li>
      </ul>
      <div class="tp-bannertimer"></div>
      <div style="display: none;" class="tp-loader"></div>
    </div>
    <!-- /rev_banner -->
    <div class="tp-bannershadow tp-shadow2"></div>
    <div class="tp-leftarrow tparrows default hidearrows"></div>
    <div class="tp-rightarrow tparrows default hidearrows"></div>
  </div>
  <div class="dc_clear"></div>
  <!-- line break/clear line -->
  <!-- DC Revolution Slider Settings -->
  <script type="text/javascript">
    var tpj=jQuery;
    tpj.noConflict();
    
    tpj(document).ready(function() {
    
    if (tpj.fn.cssOriginal!=undefined)
        tpj.fn.css = tpj.fn.cssOriginal;
    
        tpj('#rev_slider_1_1').revolution(
            {
                delay:9000,
    startwidth:960,
    startheight:630,
    hideThumbs:200,
    
    thumbWidth:100,
    thumbHeight:50,
    thumbAmount:3,
    
    navigationType:"none",
    navigationArrows:"solo",
    navigationStyle:"square-old",
    
    touchenabled:"on",
    onHoverStop:"on",
    
    navigationHAlign:"right",
    navigationVAlign:"bottom",
    navigationHOffset:0,
    navigationVOffset:20,
    
    soloArrowLeftHalign:"left",
    soloArrowLeftValign:"center",
    soloArrowLeftHOffset:20,
    soloArrowLeftVOffset:0,
    
    soloArrowRightHalign:"right",
    soloArrowRightValign:"center",
    soloArrowRightHOffset:20,
    soloArrowRightVOffset:0,
    
    shadow:2,
    fullWidth:"on",
    
    stopLoop:"off",
    stopAfterLoops:-1,
    stopAtSlide:-1,
    
    shuffle:"off",
    
    hideSliderAtLimit:0,
    hideCaptionAtLimit:0,
    hideAllCaptionAtLilmit:0,
    startWithSlide:0                          // on == Stop loop at the last Slie,  off== Loop all the time.
            });
    
        });
    
  </script> 
  <!-- END REVOLUTION SLIDER -->
</div>