<div class="row ">
  <div class="span12">
    <div class="row zn_content_no_margin">
      <div class="span12 zn_stats_box">
        <h3 class="mb_title"><span class="icon-tasks  icon-dark"></span>Statistic</h3>
      </div>
    </div>
    <div class="row zn_content_no_margin">
      <div class="span3">
        <div class="statbox">
          <img src="/assets/ico-04.png" alt="">
          <h4>
            <% if @staticts_countries_covered.present? %>
              <%= @staticts_countries_covered.page_content %> +
            <% else %>
              40 +
            <% end %>
          </h4>
          <h6>Countries Covered</h6>
        </div>
      </div>
      <div class="span3">
        <div class="statbox">
          <img src="/assets/ico-testimonials.png" alt="">
          <h4>
            <% if @staticts_satisfied_clients.present? %>
              <%= @staticts_satisfied_clients.page_content %> +
            <% else %>
              300 +
            <% end %>
          </h4>
          <h6>Satisfied Clients</h6>
        </div>
      </div>
      <div class="span3">
        <div class="statbox">
          <img src="/assets/ico-finished-projects.png" alt="">
          <h4>
            <% if @staticts_finished_projects.present? %>
              <%= @staticts_finished_projects.page_content %> +
            <% else %>
              900 +
            <% end %>
          </h4>
          <h6>Finished Projects</h6>
        </div>
      </div>
      <div class="span3">
        <div class="statbox">
          <img src="/assets/ico-01.png" alt="">
          <h4>
            <% if @staticts_resources_strength.present? %>
              <%= @staticts_resources_strength.page_content %> +
            <% else %>
              150 +
            <% end %>
          </h4>
          <h6>Resources Strength</h6>
        </div>
      </div>
    </div>
  </div>
</div>