
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>ALTEA One Page Parallax HTML5, CSS3, responsive, Bootstrap website template</title>
  <meta name="description" content="ALTEA is a One Page Premium website Template, using nice Paralax effect, HTML5, CSS3 and Twitter Bootstrap Framework">
  <meta name="author" content="Little NEKO">
<!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS
  ================================================== -->
  <!-- Bootstrap  -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <!-- web font  -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">
  <!-- Custom css -->
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
  <script src="/assets/modernizr-2.6.1.min.js"></script>

  
  <%= csrf_meta_tags %>


<!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
</head>
<body data-spy="scroll" data-target="#resMainMenu" data-offset="150">
<!-- Preloader -->
<div id="preloader">
  <div id="status">loading</div>
</div>
<!-- Primary Page Layout 
  ================================================== -->
  <!-- globalWrapper -->
  <div id="globalWrapper" class="localscroll">
    <!-- header -->
    <header id="mainHeader" class="clearfix">
      <div class="container">
        <div class="row">
          <div class="span12"> <a href="index.html" class="brand"><img src="/assets/main-logo.png" alt="ALTEA website template"/></a>
            <nav id="resMainMenu" class="scrollMenu">
              <ul class="nav clearfix">
                <li class="active"><a href="#home">Home</a> </li>
                <li><a href="#news">News</a> </li>
                <li><a href="#services">Services</a> </li>
                <li><a href="#works">Works</a> </li>
                <li><a href="#team">Team</a> </li>
                <li><a href="features.html">Features</a> </li>
                <li><a href="blog-home-sidebar-right.html">Blog</a> </li>
                <li><a href="#contactSlice">Contact</a> </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- header -->
    <!-- content -->
    <section id="home">
      <!--Arrow Navigation-->
      <a id="prevslide" class="load-item"></a> <a id="nextslide" class="load-item"></a>
      <div class="container">
        <div class="row">
          <div class="span12">
            <div id="slidecaption"> </div>
          </div>
        </div>
      </div>
    </section>
    <section class="slice color4" id="news">
      <div class="container imgHover">
        <div class="row">
          <div class="span12">
            <h1>Latest news</h1>
          </div>
          <article class="span4">
            <section class="imgWrapper"> <img src="/assets/news/news1.jpg" alt="alteae template image news" /> </section>
            <div class="media-hover">
              <div class="mask"></div>
              <div class="iconLinks"> <a href="blog-post.html" title="link" target="_blank" class="iconWrapper"><i class="icon-link"></i></a> <a href="/assets/news/news1.jpg" class="prettyPhoto iconWrapper" title="Zoom" ><i class="icon-search"></i></a> </div>
            </div>
            <div class="media-list newsList">
              <div class="media">
                <section class="newsDate">
                  <h4>12</h4>
                  <span>Oct.</span> </section>
                  <section class="media-body">
                    <h3>I feel good</h3>
                    <p>Nullam sed tortor odio. Suspendisse tincidunt dictum nisi, nec convallis odio. </p>
                    <a href="blog-post.html" class="btn btn-small btn-inverse"><i class="icon-right-open-mini"></i>read more</a> </section>
                  </div>
                </div>
              </article>

              
              <article class="span4">
                <section class="imgWrapper"> 
                  <img src="/assets/news/news2.jpg" alt="snowflake template image news" /> 
                </section>
                <div class="media-hover">
                  <div class="mask"></div>
                  <div class="iconLinks"> 
                    <a href="blog-post.html" title="link" target="_blank" class="iconWrapper">
                      <i class="icon-link"></i>
                    </a> 
                    <a href="/assets/news/news2.jpg" class="prettyPhoto iconWrapper" title="Zoom" ><i class="icon-search"></i>
                    </a> 
                  </div>
                </div>
                <div class="media-list newsList">
                  <div class="media">
                    <section class="newsDate">
                      <h4>25</h4>
                      <span>Nov.</span> </section>
                      <section class="media-body">
                        <h3>I updated my facebook status</h3>
                        <p>Nullam sed tortor odio. Suspendisse tincidunt dictum nisi, nec convallis odio. </p>
                        <a href="blog-post.html" class="btn btn-small btn-inverse"><i class="icon-right-open-mini"></i>read more</a> </section>
                      </div>
                    </div>
                  </article>
                  <article class="span4">
                    <section class="imgWrapper"> <img src="/assets/news/news3.jpg" alt="snowflake template image news" /> </section>
                    <div class="media-hover">
                      <div class="mask"></div>
                      <div class="iconLinks"> <a href="blog-post.html" title="link" target="_blank" class="iconWrapper"><i class="icon-link"></i></a> <a href="/assets/news/news3.jpg" class="prettyPhoto iconWrapper" title="Zoom" ><i class="icon-search"></i></a> </div>
                    </div>
                    <div class="media-list newsList">
                      <div class="media">
                        <section class="newsDate">
                          <h4>02</h4>
                          <span>Dec.</span> </section>
                          <section class="media-body">
                            <h3>I just got the new iPhone</h3>
                            <p>Nullam sed tortor odio. Suspendisse tincidunt dictum nisi, nec convallis odio. </p>
                            <a href="blog-post.html" class="btn btn-small btn-inverse"><i class="icon-right-open-mini"></i>read more</a> </section>
                          </div>
                        </div>
                      </article>
                    </div>
                  </div>
                </section>
                <nav class="arrowsNav"> <a href="#services" class="navDown color4"><i class="icon-down-open"></i></a> <a href="#home" class="navUp color1"><i class="icon-up-open"></i></a> </nav>

                <div id="paralaxSlice1" data-stellar-background-ratio="0.5">
                  <div class="paralaxText">
                    <div class="iconWrapper iconBig color4"><i class="icon-megaphone "></i></div>
                    <blockquote class="bigTitle">Good design is good business.</blockquote>
                  </div>
                </div>

                <section class="slice" id="services">
                  <div class="container">
                    <div class="row">
                      <div class="span12">
                        <h1>Our services</h1>
                      </div>
                      <div class="span3">
                        <article class="boxIcon">
                          <div class="iconWrapper iconBig"> <i class="icon-heart"></i></div>
                          <section class="boxContent">
                            <h2>Clean design</h2>
                            <p>Elegant layouts that help you organize your content in the best way.</p>
                          </section>
                        </article>
                      </div>
                      <div class="span3">
                        <article class="boxIcon">
                          <div class="iconWrapper iconBig"> <i class="icon-star-empty"></i></div>
                          <section class="boxContent">
                            <h2>HTML5 &amp; CSS3</h2>
                            <p>Built with modern technologies like HTML5 and CSS3, SEO optimised.</p>
                          </section>
                        </article>
                      </div>
                      <div class="span3">
                        <article class="boxIcon">
                          <div class="iconWrapper iconBig"> <i class="icon-cog"></i></div>
                          <section class="boxContent">
                            <h2>Easy Customization</h2>
                            <p>Clear code and documentation, build your website in no time!</p>
                          </section>
                        </article>
                      </div>
                      <div class="span3">
                        <article class="boxIcon">
                          <div class="iconWrapper iconBig"> <i class="icon-mobile-1"></i></div>
                          <section class="boxContent">
                            <h2>Responsive design</h2>
                            <p>Compatible with various desktop, tablet, and mobile devices.</p>
                          </section>
                        </article>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="slice color1">
                  <div class="container">
                    <div class="row">
                      <div class="span4"> <img src="/assets/services.png" alt="services"> </div>
                      <div class="span4">
                        <h2>Choose your color, build your website, now!</h2>
                        <p>You want a guarantee, buy a toaster. Dyin' ain't much of a livin', boy. You see, in this world there's two kinds of people, my friend: Those with loaded guns and those who dig. You dig. Are you feeling lucky punk This is my gun, Clyde! What you have to ask yourself is, do I feel lucky. Well do ya' punk? Are you feeling lucky punk.</p><p> When a naked man's chasing a woman through an alley with a butcher knife and a hard-on, I figure he's not out collecting for the Red Cross. Well, do you have anything to say for yourself? Dyin' ain't much of a livin', boy. Are you feeling lucky punk </p>
                        <a href="#" class="btn">read more</a> </div>
                        <div class="span4">
                          <h2>Altea, a clean one page website template</h2>
                          <p> We got no food we got no money and our pets heads are falling off! haaaaaaarry. It's because i'm green isn't it! it's because i'm green isn't it! Good morning, oh in case i don't see you, good afternoon, good evening and goodnight.</p><h3>hey, maybe i will give you a call sometime</h3><p> your number still 911? hey, maybe i will give you a call sometime. Your entrance was good, his was better. Look ma i'm road kill! </p>
                          <a href="#" class="btn">read more</a> </div>
                        </div>
                      </div>
                    </section>
                    <nav class="arrowsNav"> 
                      <a href="#paralaxSlice2" class="navDown color1"><i class="icon-down-open"></i></a> 
                      <a href="#news" class="navUp color3"><i class="icon-up-open"></i></a> 
                    </nav>

                    <section class="slice color3" id="works">
                      <div class="container clearfix">
                        <div class="row">
                          <div class="span12">
                            <h1>Our Work</h1>
                          </div>
                          <nav id="filter" class="span12 text-center">
                            <ul>
                              <li><a href="" class="current btn btn-small" data-filter="*">All</a></li>
                              <li><a href=""  class="btn btn-small" data-filter=".graphics" >Graphics</a></li>
                              <li><a href=""  class="btn btn-small" data-filter=".women">Women</a></li>
                              <li ><a href="" class="btn btn-small" data-filter=".cats">Cats</a></li>
                            </ul>
                          </nav>
                          <div class="span12">
                            <div class="row">
                              <div class="portfolio-items isotopeWrapper clearfix imgHover" id="3">
                                <article class="boxLink boxNew span4 isotopeItem women">
                                  <section class="imgWrapper"><img alt="" src="/assets/portfolio/vign6.jpg"></section>
                                  <div class="media-hover">
                                    <div class="mask"></div>
                                    <div class="iconLinks"> 
                                      <a href="portfolio-project-fullwidth-image.html" title="link" target="_blank" class="sizer iconWrapper"> 
                                        <i class="icon-picture"></i>                                        
                                      </a> 
                                      <a href="/assets/portfolio/zoom6.jpg" class="prettyPhoto iconWrapper" title="Zoom" > 
                                        <i class="icon-search"></i>
                                      </a>
                                    </div>
                                  </div>
                                  <section class="boxContent">
                                    <h3>Full width image</h3>
                                    <p>
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat. 
                                      <br>
                                      <a href="portfolio-project-fullwidth-image.html" class="moreLink">&rarr; read more</a>
                                    </p>
                                  </section>
                                </article>
                                <article class="boxLink boxNew span4 isotopeItem cats">
                                  <section class="imgWrapper"> <img alt="" src="/assets/portfolio/vign1.jpg"> </section>
                                  <div class="media-hover">
                                    <div class="mask"></div>
                                    <div class="iconLinks"> 
                                      <a href="portfolio-project-fullwidth-video.html" title="link" target="_blank" class="sizer iconWrapper"> 
                                        <i class="icon-videocam"></i> 
                                      </a> 
                                      <a href="http://www.youtube.com/watch?v=aqrtF7L86NQ" class="prettyPhoto iconWrapper" title="Video Popup" > 
                                        <i class="icon-search"></i> 
                                      </a> 
                                    </div>
                                  </div>
                                  <section class="boxContent">
                                    <h3>Video YouTube</h3>
                                    <p> 
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat. 
                                      <br>
                                      <a href="portfolio-project-fullwidth-video.html" class="moreLink">&rarr; read more</a> 
                                    </p>
                                  </section>
                                  <div class="newBadge">New!</div>
                                </article>

                                <article class="boxLink boxNew span4 isotopeItem graphics">
                                  <section class="imgWrapper"> <img alt="" src="/assets/portfolio/vign7.jpg"> </section>
                                  <div class="media-hover">
                                    <div class="mask"></div>
                                    <div class="iconLinks"> 
                                      <a href="portfolio-project-fullwidth-video.html" title="link" target="_blank" class="sizer iconWrapper"> 
                                        <i class="icon-videocam"></i> 
                                      </a> 
                                      <a href="http://vimeo.com/30581015" class="prettyPhoto iconWrapper" title="Video Popup" > 
                                        <i class="icon-search"></i> 
                                      </a> 
                                    </div>
                                  </div>
                                  <section class="boxContent">
                                    <h3>Video Vimeo</h3>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat. 
                                      <br>
                                      <a href="portfolio-project-fullwidth-video.html" class="moreLink">&rarr; read more</a> </p>
                                    </section>
                                    <div class="newBadge">New!</div>
                                  </article>

                                  <article class="boxLink boxNew span4 isotopeItem cats">
                                    <section class="imgWrapper"> <img alt="" src="/assets/portfolio/vign3.jpg"> </section>
                                    <div class="media-hover">
                                      <div class="mask"></div>
                                      <div class="iconLinks"> 
                                        <a href="portfolio-project-fullwidth-carousel.html" title="link" target="_blank" class="sizer iconWrapper"> 
                                          <i class="icon-camera"></i> 
                                        </a>
                                        <a href="#" class="prettyPhotoGallery iconWrapper animated flipOutX" title="Zoom" data-rel="images/slider/camera/camera-slide4.jpg,images/slider/camera/camera-slide5.jpg,images/slider/camera/camera-slide6.jpg"> 
                                          <i class="icon-search"></i> 
                                        </a>
                                      </div>
                                    </div>
                                    <section class="boxContent">
                                      <h3>Gallery</h3>
                                      <p> 
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat. 
                                        <br>
                                        <a href="portfolio-project-fullwidth-carousel.html" class="moreLink">&rarr; read more</a> 
                                      </p>
                                    </section>
                                  </article>

                                  <article class="boxLink boxNew span4 isotopeItem cats">
                                    <section class="imgWrapper"> <img alt="" src="/assets/portfolio/vign2.jpg"> </section>
                                    <div class="media-hover">
                                      <div class="mask"></div>
                                      <div class="iconLinks"> 
                                        <a href="portfolio-project-fullwidth-carousel.html" title="link" target="_blank" class="sizer iconWrapper"> 
                                          <i class="icon-camera"></i> 
                                        </a> 
                                        <a href="/assets/portfolio/zoom2.jpg" class="prettyPhoto iconWrapper" title="Gallery Popup"> 
                                          <i class="icon-search"></i> 
                                        </a> 
                                      </div>
                                    </div>
                                    <section class="boxContent">
                                      <h3>Lorem ipsum dolor sit amet</h3>
                                      <p> 
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat. 
                                        <br>
                                        <a href="#" class="moreLink">&rarr; read more</a> 
                                      </p>
                                    </section>
                                  </article>

                                  <article class="boxLink boxNew span4 isotopeItem women">
                                    <section class="imgWrapper"> <img alt="" src="/assets/portfolio/vign4.jpg"> </section>
                                    <div class="media-hover">
                                      <div class="mask"></div>
                                      <div class="iconLinks"> 
                                        <a href="portfolio-project-fullwidth-video.html" title="link" target="_blank" class="sizer iconWrapper"> 
                                          <i class="icon-videocam"></i> 
                                        </a> 
                                        <a href="/assets/portfolio/zoom4.jpg" class=" iconWrapper prettyPhoto" title="Zoom"> 
                                          <i class="icon-search"></i> 
                                        </a> 
                                      </div>
                                    </div>
                                    <section class="boxContent">
                                      <h3>Lorem ipsum dolor sit amet</h3>
                                      <p> 
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat. 
                                        <br>
                                        <a href="#" class="moreLink">&rarr; read more</a> 
                                      </p>
                                    </section>
                                  </article>

                                  <article class="boxLink boxNew span4 isotopeItem graphics">
                                    <section class="imgWrapper"> <img alt="" src="/assets/portfolio/vign8.jpg"> </section>
                                    <div class="media-hover">
                                      <div class="mask"></div>
                                      <div class="iconLinks"> 
                                        <a href="portfolio-project-fullwidth-carousel.html" title="link" target="_blank" class="sizer iconWrapper"> 
                                          <i class="icon-camera"></i> 
                                        </a> 
                                        <a href="/assets/portfolio/zoom8.jpg" class="prettyPhoto iconWrapper" title="Zoom" > 
                                          <i class="icon-search"></i> 
                                        </a> 
                                      </div>
                                    </div>
                                    <section class="boxContent">
                                      <h3>Lorem ipsum dolor sit amet</h3>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat. 
                                        <br>
                                        <a href="#" class="moreLink">&rarr; read more</a></p>
                                      </section>
                                    </article>

                                    <article class="boxLink boxNew span4 isotopeItem women">
                                      <section class="imgWrapper"> <img alt="" src="/assets/portfolio/vign5.jpg"> </section>
                                      <div class="media-hover">
                                        <div class="mask"></div>
                                        <div class="iconLinks"> 
                                          <a href="portfolio-project-fullwidth-image.html" title="link" target="_blank" class="sizer iconWrapper"> 
                                            <i class="icon-picture"></i> 
                                          </a> 
                                          <a href="/assets/portfolio/zoom5.jpg" class="prettyPhoto iconWrapper" title="Zoom" > 
                                            <i class="icon-search"></i> 
                                          </a> 
                                        </div>
                                      </div>
                                      <section class="boxContent">
                                        <h3>Lorem ipsum dolor sit amet</h3>
                                        <p>
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat. 
                                          <br>
                                          <a href="#" class="moreLink">&rarr; read more</a>
                                        </p>
                                      </section>
                                    </article>


                                    <article class="boxLink boxNew span4 isotopeItem graphics">
                                      <section class="imgWrapper"> <img alt="" src="/assets/portfolio/vign9.jpg"> </section>
                                      <div class="media-hover">
                                        <div class="mask"></div>
                                        <div class="iconLinks"> 
                                          <a href="portfolio-project-fullwidth-carousel.html" title="link" target="_blank" class="sizer iconWrapper"> 
                                            <i class="icon-camera"></i> 
                                          </a> 
                                          <a href="#" class="prettyPhotoGallery iconWrapper" title="Zoom" data-rel="/assets/portfolio2/ill_7_1.jpg,/assets/portfolio2/ill_7_2.jpg,/assets/portfolio2/ill_7_3.jpg"> 
                                            <i class="icon-search"></i> 
                                          </a> 
                                        </div>
                                      </div>
                                      <section class="boxContent">
                                        <h3>Lorem ipsum dolor sit amet</h3>
                                        <p>
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat. 
                                          <br>
                                          <a href="#" class="moreLink">&rarr; read more</a>
                                        </p>
                                      </section>
                                    </article>


                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>


                        <section class="color1 slice" id="quoteWrapper">
                          <div class="container">
                            <div class="ctaBox clearfix">
                              <div class="row-fluid">
                                <div class="span9">
                                  <blockquote>Like what you see? <small>Request a proposal now!</small></blockquote>
                                </div>
                                <div class="span3"> <a class="btn btn-large" title="" href="#" id="quoteTrigger"> Get a quote!</a> </div>
                              </div> 
                              <div class="row">  
                                <div class="span12" id="quoteFormWrapper">

                                  <form id="projectQuote" method="post" action="js-plugin/neko-contact-ajax-plugin/php/form-handler-quotation.php">
                                    <div class="row-fluid">

                                      <div class="span4"> 
                                        <h3>Ask us about your projects</h3>
                                        <p> 
                                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel pulvinar ligula. Sed rutrum condimentum sapien vel facilisis. Proin pulvinar ultrices odio. 
                                        </p>
                                      </div>  

                                      <div class="span4">
                                        <input type="text" id="inputName" class="span5" placeholder="Name" name="name">

                                        <input type="text" id="inputEmail" class="span5" placeholder="Email" name="email">

                                        <input type="text" id="inputCompany" class="span5" placeholder="Company" name="company">
                                      </div>

                                      <div class="span4">    

                                        <select name="quoteType">
                                          <option disabled selected>Project Type</option>
                                          <option value="web project">web project</option>
                                          <option value="design project">design project</option>
                                          <option value="hosting project">hosting project</option>
                                        </select>

                                        <textarea name="comment" id="quoteComment" placeholder="message"></textarea>

                                      </div>
                                    </div>
                                    <div class="row-fluid">
                                      <div class="span8 offset4">
                                        <div class="quoteResult pull-left"></div>
                                        <button class="btn btn-large pull-right" type="submit">Send</button>
                                      </div>
                                    </div>
                                  </form>

                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        <nav class="arrowsNav"> 
                          <a href="#team" class="navDown color1"><i class="icon-down-open"></i></a> 
                          <a href="#works" class="navUp color4"><i class="icon-up-open"></i></a> 
                        </nav>
                        <div id="paralaxSlice2" data-stellar-background-ratio="0.5">
                          <div class="paralaxText">
                            <div class="iconWrapper iconBig"> <i class="icon-camera"></i> </div>
                            <blockquote>Less is only more<br/>
                              where more is no good                    </blockquote>
                            </div>
                          </div>
                          <section class="slice color1" id="team">
                            <div class="container">
                              <div class="row">
                                <div class="span12">
                                  <h1>Meet our team</h1>
                                </div>
                                <div class="span3">
                                  <article class="boxWrapper color1">
                                    <div><img src="/assets/team/pic1.jpg" alt=""></div>
                                    <div class="boxContent2">
                                      <h3>Janet DOE </h3>
                                      <p>Executive Director</p>
                                    </div>
                                    <div class="boxContent"> <a href="mailto:your.email@little-neko.com">j.doe@altea.com</a>
                                      <ul class="socialNetwork">
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="icon-twitter-bird"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Google+"><i class="icon-gplus"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Pinterest"><i class="icon-pinterest-circled"></i></a></li>
                                      </ul>
                                    </div>
                                  </article>
                                </div>
                                <div class="span3">
                                  <article class="boxWrapper color1">
                                    <div><img src="/assets/team/pic2.jpg" alt=""></div>
                                    <div class="boxContent2">
                                      <h3>Johanna Newsom</h3>
                                      <p>Salesman</p>
                                    </div>
                                    <div class="boxContent"> <a href="mailto:your.email@little-neko.com">j.newsom@altea.com</a>
                                      <ul class="socialNetwork">
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="icon-twitter-bird"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Google+"><i class="icon-gplus"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Pinterest"><i class="icon-pinterest-circled"></i></a></li>
                                      </ul>
                                    </div>
                                  </article>
                                </div>
                                <div class="span3">
                                  <article class="boxWrapper color1">
                                    <div><img src="/assets/team/pic3.jpg" alt=""></div>
                                    <div class="boxContent2">
                                      <h3>Alexander Doe</h3>
                                      <p>Graphic designer</p>
                                    </div>
                                    <div class="boxContent"> <a href="mailto:your.email@little-neko.com">a.doe@altea.com</a>
                                      <ul class="socialNetwork">
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="icon-twitter-bird"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Google+"><i class="icon-gplus"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin"></i></a></li>
                                        <li><a href="#" class="tips" title="" data-original-title="follow me on Pinterest"><i class="icon-pinterest-circled"></i></a></li>
                                      </ul>
                                    </div>
                                  </article>
                                </div>
                                <div class="span3">
                                  <article class="boxWrapper color1">
                                    <div><img src="/assets/team/pic4.jpg" alt=""></div>
                                    <div class="boxContent2">
                                      <h3>Pamela Anderson</h3>
                                      <p>Programmer</p>
                                    </div>
                                    <div class="boxContent"> <a href="mailto:your.email@little-neko.com">p.anderson66@altea.com</a>
                                      <ul class="socialNetwork">
                                        <li>
                                          <a href="#" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook"></i></a>
                                        </li>
                                        <li>
                                          <a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="icon-twitter-bird"></i></a>
                                        </li>
                                        <li>
                                          <a href="#" class="tips" title="" data-original-title="follow me on Google+"><i class="icon-gplus"></i></a>
                                        </li>
                                        <li>
                                          <a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin"></i>
                                          </a>
                                        </li>
                                        <li>
                                          <a href="#" class="tips" title="" data-original-title="follow me on Pinterest"><i class="icon-pinterest-circled"></i>
                                          </a>
                                        </li>
                                      </ul>
                                    </div>
                                  </article>
                                </div>
                              </div>
                            </div>
                          </section>
                          <nav class="arrowsNav"> 
                            <a href="#contactSlice" class="navDown color1"><i class="icon-down-open"></i></a> 
                            <a href="#works" class="navUp color2"><i class="icon-up-open"></i></a> 
                          </nav>
                          <div id="paralaxSlice3" data-stellar-background-ratio="0.5" >
                            <div class="container">

                              <div class="paralaxText">
                                <div class="iconWrapper iconBig"> <i class="icon-mail"></i> </div>
                                <blockquote>Keep in touch with us</blockquote>
                              </div>
                            </div>
                          </div>
                          <section class="slice color1"  id="contactSlice" >
                            <div class="container">
                              <div class="row mb40">
                                <div class="span12">
                                  <h1>Contact us</h1>
                                </div>
                                <div id="contactSlide">
                                  <div class="span3"> <a href="" title="" id="mapTriggerLoader">
                                    <div class="iconWrapper iconBig"> <i class="icon-location"></i> </div>
                                    <span class="clearfix">Click to see the map</span></a>
                                    <p>Curabitur turpis orci, gravida non ornare id, venenatis nec enim. Praesent posuere condimentum leo eget volutpat. .</p>
                                  </div>
                                  <div class="span6">

                                    <form method="post" action="js-plugin/neko-contact-ajax-plugin/php/form-handler.php" id="contactfrm">
                                      <label for="name"></label>
                                      <input type="text" name="name" id="name" placeholder="Name"  title="Please enter your name (at least 2 characters)"/>
                                      <label for="email"></label>
                                      <input type="email" name="email" id="email" placeholder="Email" title="Please enter a valid email address"/>
                                      <label for="phone"></label>
                                      <input name="phone" type="tel" id="phone" size="30" value="" placeholder="Phone" class="required digits" title="Please enter a valid phone number (at least 10 characters)">
                                      <label for="comments"></label>
                                      <textarea name="comment" id="comments" cols="3" rows="5" placeholder="Enter your message…" title="Please enter your message (at least 10 characters)"></textarea>
                                      <fieldset class="clearfix securityCheck">
                                        <legend>Security</legend>
                                        <div class="row">
                                          <div class="span6 pull-left humanCheck">
                                            <label for="verify" class="pull-left"><img src="/assets/image.php" alt="Image verification"/></label>
                                            <input class="required "  id="verify" name="verify" type="text" >
                                          </div>
                                        </div>
                                      </fieldset>
                                      <br/> <div class="result"></div>
                                      <button name="submit" type="submit" class="btn" id="submit"> Submit</button>
                                    </form>


                                  </div>
                                  <div class="span3">
                                    <address>
                                      Address:<br/>
                                      Himalaya Company<br/>
                                      77 Mass. Ave., E14/E15<br/>
                                      Cambridge, MA 02139-4307 USA <br/>
                                      <br/>
                                      phone:<br/>
                                      615.987.1234<br/>
                                    </address>
                                  </div>
                                </div>
                                <div id="mapSlide">
                                  <div class="span12">
                                    <div id="mapWrapper"></div>
                                    <a href="#" title="" id="mapReturn" class="btn btn-small"><i class="icon-left-dir"></i> Back</a> </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                            <nav class="arrowsNav"> 
                              <a href="#home" class="navUp color4"> <i class="icon-up-open"></i> </a> 
                            </nav>
                            <!-- content -->
                            <!-- footer -->
                            <footer>
                              <section id="mainFooter">
                                <div class="container" id="footer">
                                  <div class="row">
                                    <div class="span12 text-center">
                                      <div class="blocPhone">
                                        <div class="iconWrapper color3"><i class="icon-phone"></i></div>
                                        615.987.1234 </div>
                                      </div>
                                      <div class="span12">
                                        <ul class="socialNetwork">
                                          <li><a href="#" class="iconWrapper color4 tips icoRss" title="Rss"><i class="icon-rss"></i></a></li>
                                          <li><a href="#" class="iconWrapper color4 tips icoFacebook" title="Facebook"><i class="icon-facebook"></i></a></li>
                                          <li><a href="#" class="iconWrapper color4 tips icoTwitter" title="Twitter"><i class="icon-twitter"></i></a></li>
                                          <li><a href="#" class="iconWrapper color4 tips icoGoogle" title="Google +"><i class="icon-gplus"></i></a></li>
                                          <li><a href="#" class="iconWrapper color4 tips icoVimeo" title="Vimeo"><i class="icon-vimeo"></i></a></li>
                                          <li class="last"><a href="#" class="iconWrapper color4 tips icoLinkedin" title="Linkedin"><i class="icon-linkedin"></i></a></li>
                                        </ul>
                                      </div>
                                      <div class="span12"> </div>
                                    </div>
                                  </div>
                                </section>
                              </footer>
                              <section  id="footerRights">
                                <div class="container">
                                  <div class="row">
                                    <div class="span12">
                                      <p>Copyright © 2012 <a href="http://www.little-neko.com" target="blank">Little NEKO</a> / All rights reserved.</p>
                                    </div>
                                  </div>
                                </div>
                              </section>
                              <!-- End footer -->
                            </div>
                            <!-- global wrapper -->

<!-- End Document 
  ================================================== -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
